[2022-05-14 11:08] amirrezam opened #4169 "TTS removed models"
Hi,
Why Some TTS model (MelGAN, TalkNet) are removed from main branch, while they are exist in 1.8.2 ?
Do you want to stop maintaining them ?

https://github.com/NVIDIA/NeMo/commit/c37786a9acb443b1d55d56636f00d3826ffc76d5

[2022-05-15 06:47] hamjam opened #4170 "k2 package conflict with NeMo"
Hi,

I was examining `examples/asr/experimental/k2/align_speech_parallel.py` script as I wish to get speech alignments from my trained CTC-based ASR model. Somewhere, I was told that I have to install k2 package to use this script and its recommended method is by using `scripts/speech_recognition/k2/setup.sh`. However, when I executed the `setup.sh` script, its output is like this:
`ImportError: k

[2022-05-16 06:07] evilc3 commented on #2835
My use case is second type where I replace the tokenizer (but same language).

[2022-05-16 06:26] titu1994 commented on #2835
We use the default scheduler inside the ASR CTC finetuning notebook, and yes it is always required since most models will not converge otherwise. Higher batch size has more stable updates, but it's not guaranteed to not have nans. I assume you are using mixed precision - that is not advised with Conformers. High lr + fp16 will cause overflow in attention matrix and cause nan gradients.

[2022-05-16 09:43] evilc3 commented on #2835
another question my lr about to 1e-6 and I am at epoch 2 will my conformer learn.  Epoch 1 loss reduction was really good in the first half it went from 1000+ to ~50 but now its dancing at 60 - 49. wer is abt 10% after I epoch which I think is good.

[2022-05-16 13:35] GNroy commented on #4170
Hi @hamjam,

The version check that throws the error was introduced in k2 release 1.5.0, namely in this PR: https://github.com/k2-fsa/k2/pull/949
The error is triggered by the following after-install check in the `setup.sh`:
https://github.com/NVIDIA/NeMo/blob/1d3eb3d0d045f7f57316217320b8d265bf3256ce/scripts/speech_recognition/k2/setup.sh#L24

I just rebuilt k2 with the `setup.sh` and the check we

[2022-05-16 14:12] naymaraq opened #4174 "TitaNet Small"
Hi NeMo team,
Do you plan to release TitaNet-small (medium) model?

[2022-05-16 14:56] maevdokimov opened #4176 "SpeakerDecoder weight normalization"
Hi!

When reading SpeakerDecoder code I bumped into [this](https://github.com/NVIDIA/NeMo/blob/1d3eb3d0d045f7f57316217320b8d265bf3256ce/nemo/collections/asr/modules/conv_asr.py#L848) line. Looks like it is weight normalization for AAS loss. But why should it work?

[code]

[2022-05-16 17:52] redoctopus commented on #4169
We recently unified the TTS models' data loading under `TTSDataset`, which breaks support for older checkpoints that depend on model-specific Dataset classes. As a result, we've decided to deprecate some older and lower-quality models to focus on and update a smaller set of flagship models.

[2022-05-16 17:52] #4169 closed

[2022-05-16 19:04] titu1994 commented on #4176
You should clone your weight before you perform normalize. Right now layer.weights are simply pointing to the same underlying data structure.

[2022-05-16 19:12] nithinraok commented on #4157
Are you running only on CPU?

[2022-05-16 19:14] nithinraok commented on #4174
Thanks for your interest. yes, planning to release for the next NeMo version targeting end of May.

[2022-05-16 20:09] naymaraq commented on #4174
Thank u very much @nithinraok

[2022-05-16 20:09] #4174 closed

[2022-05-16 21:59] Nistrian opened #4181 "Possible bug in the tutorial for fine-tuning hifi"
Hello! I'm trying to fine-tune the HiFi according to your fastpitch_finetuning tutorial. I generated manifests in the same format as in the example. Then I launched the fine-tuning script by simply changing the paths. Despite the small number of changes, I constantly get an error. I tried to study the code to understand what I'm doing wrong. In the process of studying, I found a possible cause of

[2022-05-16 23:19] redoctopus commented on #4181
Ah yep. There's been a change to the way the HiFi-GAN config works, and the tutorial is somewhat out of date. See Subhankar's fix in #4182 (linked above as well).

The long and short of it is that the `train_ds` and `validation_ds` arguments now point to other config files (e.g. https://github.com/NVIDIA/NeMo/blob/main/examples/tts/conf/hifigan/model/train_ds/train_ds_finetune.yaml) that specify a

[2022-05-16 23:19] #4181 closed

[2022-05-17 00:26] nithinraok commented on #4176
I remember, fiddling with this a long time ago. Though it was not normalizing the weights as I intended, it helped for stable training. Need to investigate more.

To debug: If you have any dataset, did you try training with and without normalizing final layer weights.

[2022-05-17 01:24] nithinraok commented on #4157
I ran the particular file you mentioned: https://drive.google.com/file/d/1ChLsVHTgH4SUgvqLP7ymtrbao-L0KKsj/view?usp=sharing. I don't get any errors as you mentioned both on CPU and GPU.

Here are two things you might missed:
* convert audio from flac to wav
* resample file from 44.1kHz to 16kHz

Can you retry after considering above suggestions?

[2022-05-17 05:06] evilc3 commented on #2835
ok

[2022-05-17 05:21] evilc3 opened #4183 "Conformer Model Training Details."
Hi I am training a Conformer Model  and need to know if thing about the training process.

My Training params :
- learning rate : 0.1,
- batch_size = 128
- max_epochs : 100
- warmup steps : 10000

The questions I had were.
1.   What hardware was used to train the `ctc_conformer_large` and `ctc_conformers_medium` models. gpus and how long were they trained (hrs).
2. If my learning rate has reduced

[2022-05-17 05:36] titu1994 commented on #4183
(1) V100s (32 GB) or A100s (80 GB) were used for training these models. You don't need that much compute to fine-tune though.
(2) LR is too low. Pick your warmup and LR scaler such that your LR doesn't drop below 1e-5 at worst. Best to keep it around 5e-5 or slightly higher.
(3) We don't experiment with such high grad accumulation. We dont get good results with such high values normally. You can t

[2022-05-17 05:44] evilc3 commented on #4183
Thanks for the quick reply @titu1994. This has cleared lot of doubts.

I am using a new tokenizer same language so it not fine-tuning I guess.  Dont have access to A100s how many v100s (32gb) did ul use? just one?

- Becz a v100s (16gb) is unable to fit a batch size of 16.
- More details about my learning I am able to get 10% wer on my validation set. with no overfitting. on the first epoch. but s

[2022-05-17 05:59] titu1994 commented on #4183
Conformer converges fast, and the longer you train the better it gets (at least before it overfits on the dataset). Ok V100 you can use batch size 8 and accumulate grad 2x.

We trained on global batch sizes of 2048, so very large multinode experiments. That's not required for fine tuning.

If you need to change the Tokenizers but keep same language, is there any special reason ? If special charact

[2022-05-17 06:19] evilc3 commented on #4183
I hv added punctuation's in my tokenizer along with reserve words. Any reason why punctuations were not added in the conformer_large vocab and the size is only 128.   I was under the impression that large vocab give better results

[2022-05-17 06:28] titu1994 commented on #4183
Large vocab = better scores is in NLP. For CTC models you have to usually balance your vocab size so as to make the alignment task not too difficult, but still reduce the encoded text size enough to work with 4x or 8x downsampling.

Punctuation is not added for a reason, if doesn't work well in ASR. CTC models don't have implicit LM in them unlike RNNT, so it's even harder to learn such punctuatio

[2022-05-17 06:43] evilc3 commented on #4183
Oh thanks thanks for the info I understand now. So best pipeline for ctc asr is  asr -> langauge model (Ngram) -> punct model.

A new more details on my validation set the pretrained model got a 18% wer (It has puncts).  and the current model I am training gets a 10%. I will leave it for training for a couple of epochs as its nowere close to overfitting. But since I set initial lr to 0.1 using fp1

[2022-05-17 06:53] titu1994 commented on #4183
Interestingly, if your new vocab size is same as 128, then you can load the previous checkpoint and converge faster. If should normally also have better final wer from our experience.

-----
Another thing which isn't well documented yet, but does have a tutorial is Adapters support for ASR models (https://colab.research.google.com/github/NVIDIA/NeMo/blob/main/tutorials/asr/asr_adapters/ASR_with_Ad

[2022-05-17 06:59] evilc3 commented on #4183
Thanks so much.

[2022-05-17 07:06] titu1994 commented on #4183
Your training dataset is 15k hours? Ignore the adapters stuff then, full finetuning will be much more useful on that much data.

When you find tune in just 50 hours, your model will mostly degrade quite a bit of you fine-tune everything. You could freeze the encoder and finetuned just the decoder, or try adapters on such a dataset without needed to fine-tune the decoder then.

We've seen adapters

[2022-05-17 07:07] titu1994 commented on #4183
Also, vocab size is yours to determine, you can recompute a Tokenizers with 128 size, it would probably be worth the improved wer from the pretrained models decoder layer.

[2022-05-17 08:24] evilc3 commented on #4183
got it thanks for the help

[2022-05-17 11:11] maevdokimov commented on #4176
But don't you agree that this code does absolutely nothing? The key point of angular loss is to normalize the output projection matrix rows, or else we can get rows with very big norm, that will overbalance other classes and break classification.

[2022-05-17 13:36] kaustavb79 commented on #4157
yes

[2022-05-17 13:37] kaustavb79 commented on #4157
I am resampling the flack file to 16kHz in the code itself .

[2022-05-18 02:51] 1zuu opened #4188 "AN4 Dataset Not Found under ASR"
**Describe the bug**

The provided link for AN4 dataset under [http://www.speech.cs.cmu.edu/databases/an4/](here) is not accessible. Please validate the URL.

[2022-05-18 03:11] titu1994 commented on #4188
That is the official url, and for some reason, the link is dead. You can contact CMU to fix that if necessary. For our purposes, we have mirror link to the an4 dataset temporarily in our notebooks.

[2022-05-18 03:11] #4188 closed

[2022-05-18 10:58] RezaBi opened #4192 "error running offline_diarization.py"
**Describe the bug**

Hi, I have previously run the code as stated in Usage description of the script. However, now I get this error by running the exact same code. This is the error messege.
Global seed set to 42
Traceback (most recent call last):
  File "/content/NeMo/examples/speaker_tasks/diarization/offline_diarization.py", line 46, in <module>
    main()
  File "/usr/local/lib/python3.7/dist

[2022-05-18 11:02] EmreOzkose opened #4193 "training with horovod"
Hi, I am trying to use horovod for accelerator. Training steps:

1. cd NeMo/examples/nlp/text_classification
2. python text_classification_with_bert.py

This steps works without any problem. However when I try to use horovod:

1. cd NeMo/examples/nlp/text_classification
2.change pl Trainer:
pl.Trainer(plugins=[NLPDDPPlugin()], **cfg.trainer) to trainer = pl.Trainer(strategy="horovod", accelerator=

[2022-05-18 13:44] EmreOzkose commented on #4193
I thought that all processes are done over the network. However server1 also have to access to conda environment and my connection is cut today. So running horovod-mnist-example was working before, but not working now.

I am also curious about reaching to data.

[2022-05-18 15:16] lyceumman commented on #4157
same issue during CPU inference on Ubuntu 20.04.4 LTS on Python 3.8.12 and nemo-toolkit==1.9.0rc0. Previously resampled to 16kHz my wav files. And then stuck at this moment.

<img width="1367" alt="Screenshot 2022-05-18 at 18 11 40" src="https://user-images.githubusercontent.com/37379663/169075982-910b218e-9574-4b63-9719-966780c6ace7.png">

[2022-05-18 15:53] nithinraok commented on #4157
Can you create a python script or notebook just with the file you mentioned to reproduce the error and share it here? I don't see any such issue with `capital-trade01.wav`

[2022-05-18 16:17] kaustavb79 commented on #4157
[diarization_code.zip](https://github.com/NVIDIA/NeMo/files/8718092/diarization_code.zip)

[2022-05-18 20:22] nithinraok commented on #4157
We dont test using virtual env.
Please use conda and try again with min python version as 3.8

I executed your script and it ran flawlessly.

[2022-05-19 02:26] nithinraok commented on #4157
I have created a sample notebook for you on colab, upload the `capital-trade01.flac` to the notebook and it does the rest.
https://colab.research.google.com/drive/1w_tB-1hHiMCDpnlMM4ygIxNM_GM0G4Ep?usp=sharing

[2022-05-19 02:28] nithinraok commented on #4192
This should fix the issue https://github.com/NVIDIA/NeMo/pull/4202 .

Reinstall and you should be good.

[2022-05-19 08:08] kaustavb79 commented on #4157
okay

[2022-05-19 16:22] piraka9011 commented on #4083
I am trying this on a p4dn instance (8x A100) and disabled `accumulate_grad_batches`:

[code]

Performance is still very slow. But will leave for a few epochs to see if it makes a difference after.

[2022-05-19 17:10] piraka9011 commented on #4083
When `accumulate_grad_batches` is disabled, the startup is slow, but it eventually speeds up from `4.04s/it` to `1.0s/it` by 1400 steps (batch size 16).
By the end of the epoch (3500 steps) it's at `1.3it/s`.
At the second epoch, training quickly ramps up from `1.3it/s` to `1.8it/s`. Still not as fast as NeMo 1.7.2 though

It seems this is also some issue with startup, but it would be good to unde

[2022-05-19 17:30] titu1994 commented on #4083
Tarred Datasets are meant for clusters - or large datasets with hundreds of thousands of files. You are probably hitting network io as your slowdown, and after an epoch the instance cashes the dataset into memory (either fully or partially) which speeds up your training to normal levels.

[2022-05-19 18:50] piraka9011 commented on #4083
How is there a network I/O slowdown when the data is already downloaded?

And why is this occurring in v1.8.x and not v1.7.x?
The only major change I've seen to the models is the infra around it (PyTorch/Lightning).

[2022-05-19 20:47] titu1994 commented on #4083
Reading 100k files vs 1024 tar files is very different behaviour for networked IO - all cloud providers don't physically attach storage to your vms, they use mounted network storage. This is the cost - since to manage and manipulate 100k files is much harder for network file systems than just managing 1024 tarfiles.

[2022-05-20 12:25] piraka9011 commented on #4083
I see... I did not know that! Thank you for clarifying this.
I will try another training run but with a tarred dataset and see if that improves performance.
We do have ~500k individual files, so what you're suggesting makes sense.

If this is indeed the case, would be something good to point out in the docs that JSON manifests may incur a slowdown after ~100k files, esp. if you are using a cloud p

[2022-05-20 14:15] riqiang-dp commented on #4183
May I ask why do you guys suggest to set lr so that it never goes below 1e-5? I'm finetuning one model and it goes below that but I see the model is still effectively learning (loss, wer going down on train/val)

[2022-05-20 14:57] #4049 closed

[2022-05-20 14:58] yzhang123 commented on #4142
Yes, working on this.

[2022-05-20 18:47] #4170 closed

[2022-05-20 18:48] titu1994 commented on #4166
Is it one person speaking and you just want the transcript? Or there are multiple speakers and you want to seperate the speakwrs and their text ?

[2022-05-20 18:49] #4131 closed

[2022-05-20 18:49] #4129 closed

[2022-05-20 18:49] #4067 closed

[2022-05-20 18:50] #4062 closed

[2022-05-20 18:51] #4193 closed

[2022-05-20 18:51] titu1994 commented on #4183
At such low lr, you're not getting efficient training anymore. Sure your loss will drop but even after 100k steps you won't improve much so it's a waste of compute.

[2022-05-20 18:51] #4183 closed

[2022-05-20 18:52] #4192 closed

[2022-05-20 18:56] #4157 closed

[2022-05-21 07:05] RezaBi commented on #4192
Thanks for your response.
Nope, its still not working. the same issue still remains ( using branch 1.8.2). on which version did you test and resolve the issue?

[2022-05-21 21:35] piraka9011 commented on #4083
Ok, it looks like tarred datasets definitely result in a speed up to training as suggested.
The first epoch is still slower (for me it went from ~40 min/epoch to 6 min/epoch) but the following epoch is significantly faster (from 20-25 min/epoch to 2 min/epoch).

Thanks again for helping me debug this.

Two things before closing the issue though:
1. Should validation manifests also be tarred? or th

[2022-05-21 21:44] titu1994 commented on #4083
Validation and test datasets are never tarred. We actually explicitly do not support it because tarring drops a few samples, and therefore fair academic comparisons would be impossible. Usually validation and test datasets are run infrequently - once every epoch, and are orders of magnitude smaller than the train set so it makes sense to leave them as loose files.

Re incomplete epoch, No this is

[2022-05-21 21:51] piraka9011 commented on #4083
Nope, will play with the parameters a bit. Maybe something to do with number of buckets and shards.
Currently running w/ the same 8 GPU setup:
* buckets_num: 4
* num_shards: 128
* num_workers: 16
* batch_size: 8

Will try with:
* buckets_num: 8
* batch_size: 16

See if that makes a difference.

[2022-05-21 21:52] titu1994 commented on #4083
Oh with bucketing hmm lemme ping @VahidooX
You should be using bucketing batch size, and your train ds.batch size should be 1 I think. Lemme confirm with him

[2022-05-22 03:35] piraka9011 commented on #4083
Ok, looks like I got excited early.

I had to set `bucketing_batch_size` to a number (not `null`/`None`) for bucketing to work.
This fixed the partial epoch issue I mentioned in my previous comment.
But...it made the tarred dataset _even slower_ than the regular manifest approach.
This behavior is consistent with both v1.7.2 and v1.8.2

I made sure that the `train_ds.batch_size` was 1 and the foll

[2022-05-22 13:44] togousch commented on #4157
https://drive.google.com/drive/folders/1xj1GwaluJZelnG5-428rcLbsOByA-WM7?usp=sharing

Here is folder with audio files (38 .wav), i try to inference on (CPU as a device). There is script with config i use (just pretrained vad_marblenet.nemo as vad model and titanet-l.nemo as speaker model). I launch it from PyTorch container (22.03) with:
nemo-toolkit==1.9.0rc0
Python 3.8.12
Ubuntu 20.04.4 LTS

<im

[2022-05-22 21:24] itzsimpl opened #4224 "Trying to resume training `enc_dec_nmt` fails"
**Describe the bug**

I used `enc_dec_nmt.py` to build a NLP/MT model based on `aayn_base.yml` (`nemo:1.8.2` based on `pytorch:22.04-py3`); training was interrupted before reaching the final epoch, now tying to resume training from the last checkpoint  by passing
`+exp_manager.resume_if_exists=true` to the `enc_dec_nmt.py` call fails with the following trace

[code]

**Steps/Code to reproduce bug*

[2022-05-22 22:41] MaximumEntropy commented on #4224
This is something strange that has been happening since we moved to PTL 1.6 where when a model is being restore, PTL calls `validation_epoch_end()` without running all of the validation steps to compute validation BLEU scores etc. There are two potential fixes, 1. At the beginning of the `eval_epoch_end()` function in `mt_enc_dec_model.py`, you do `if not outputs: return` or 2. Try and move back t

[2022-05-23 02:58] piraka9011 commented on #4083
I ran a PyTorch profile using PTL's [`PyTorchProfiler`](https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.profiler.PyTorchProfiler.html#pytorch_lightning.profiler.PyTorchProfiler) to compare between v1.7.2 and v1.8.2.

You can visualize the results using Tensorboard and the [PyTorch Profiler TensorBoard Plugin](https://github.com/pytorch/kineto/tree/main/tb_plugin).
I just r

[2022-05-23 05:19] supreetpr-kore opened #4225 "unable to train asr"
**Describe the bug**

trying to build an ASR with min-Libri speech data

**command**
python3 speech_to_text_ctc_bpe.py   model.train_ds.manifest_filepath=data/mini_libri/train_clean_5.json     model.validation_ds.manifest_filepath=data/mini_libri/dev_clean_2.json     model.tokenizer.dir=data/tokenizer_libri/tokenizer_spe_bpe_v1024/     model.tokenizer.type="bpe"     trainer.devices=-1     trainer.

[2022-05-23 05:44] #4225 closed

[2022-05-23 08:14] davidmartinrius opened #4226 "Pretrained models url's not working"
Hello,

when I try to download any model it shows an error:

ValueError: Not able to download url right now, please try again.

I supose the server that store the models is not returning the models.

Could you check it out, please?

I share the full stack trace (in main branch and other branches)

[NeMo W 2022-05-23 10:10:06 nemo_logging:349] /home/pc/.local/lib/python3.8/site-packages/apex/pyprof

[2022-05-23 08:30] evilc3 opened #4227 "Correcting spellings for BPE CTC conformer Models."
Hi guys I fine-tuned a ctc large model on my custom dataset. Results are great but hv noticed some spellings issues.

- How do I solve the spelling issues?
- Do I need to use a lm for this?
- Is the tokeniser size the problem .  Uses same spe, unigram model with 256 tokens (added punts + numbers from 0 - 9)

[2022-05-23 08:45] titu1994 commented on #4227
Punctuations, numbers aren't good for ASR, especially CTC models. Yes, LM will help with some spelling mistakes, but not all.

[2022-05-23 08:58] evilc3 commented on #4227
So are all spelling mistakes coming because of punts and number's in tokeniser.  Are they any better spelling correcting methods other than using LMs

[2022-05-23 09:07] titu1994 commented on #4227
It's not mainly that, even pure chars only models will make mistakes, CTC has not language modeling inbuilt unlike RNNT so it makes more spelling mistakes. Even RNNTs will not be perfect and never have spelling mistakes.

[2022-05-23 11:57] EmreOzkose opened #4229 "Distributed training via Horovod does not make learning faster"
**Describe the bug**
I run [text classification with bert example](https://github.com/NVIDIA/NeMo/blob/main/examples/nlp/text_classification/text_classification_with_bert.py). Training is done well. I got approximately %90 accuracy after first epoch. Then I tried to run the same example with [horovod](https://github.com/horovod/horovod). My change is written below:

Change [line 116](https://githu

[2022-05-23 14:27] yzhang123 commented on #4160
@MMatlacz yes that is the restriction of Google's SGD task, it requires you to know beforehand which underlying Services a dialogue belongs to.

[2022-05-23 16:10] bmwshop commented on #4083
Hi, any chance you could try this on tarred librispeech, so we can compare the numbers?

[2022-05-23 17:08] VahidooX commented on #4083
How many num_workers do you use for the data loaders? if it is a high number like 16, would you please reduce it to 4.
For bucketing_batch_size, when you set it to 8 and you have 8 buckets, it would use offset of 8 to increase the batch sizes and it would be like [64,56,48,40,32,24,16,8]. If it gives OOM, then try this instead with offset of 4: bucketing_batch_size=[36,32,28,24,20,16,12,8]. What i

[2022-05-23 17:52] VahidooX commented on #4229
Why are you using horovod for multi-gpu trianing?
PTL and PT has native support for multi-gpu training. You may just set devices=2 to make it work on 2 GPUs.

[2022-05-23 19:12] naymaraq opened #4234 "Speaker Diarization: Known Number of Speakers"
Hello NeMo team

I evaluated NeMo clustering diarizer on VoxConverse dataset. And the results are wonderful. But when I am providing the actual number of speakers through manifest, results get worse. I noticed the same behavior for NIST SRE 2000 dataset too. I am wondering why is this happening? Is it something related to dataset (like overlap speech)?

<img width="873" alt="Screen Shot 2022-05-23

[2022-05-23 22:36] nithinraok commented on #4234
Is it possible for you to share the numbers on VoxConverse?

It happens when a speaker(s) speaks for very few seconds compared to other speakers in an audio file. When the number of speakers is provided, NMESC clustering method tries to cluster the embeddings with the provided number of speakers, and since there are very few embeddings, there is less chance of grouping them accurately.

In another

[2022-05-23 22:41] nithinraok commented on #4157
Could you mention the installation process you followed?
Also these are the version I suggest:
22.03 PyTorch docker container: https://catalog.ngc.nvidia.com/orgs/nvidia/containers/pytorch/tags
NeMo branch: https://github.com/NVIDIA/NeMo/tree/v1.8.2

[2022-05-24 00:40] piraka9011 commented on #4083
Similar results as I mentioned with librispeech.
1.7.2 consistently had ~`3.00it/s`.
1.8.2 had ~`3.00s/it` for the first epoch followed by ~`2.00it/s`.

I also noticed 1.7.2 reached `val_wer=0.0955` in 2 epochs, but 1.8.2 only reached `val_wer=0.8777`.

Here are the zipped profile traces
* [1.7.2](https://drive.google.com/file/d/1NEJEAjQzEQoQ1jlEbQZWxw8JfFJb_xUl/view?usp=sharing)
* [1.8.2](https:/

[2022-05-24 02:12] dykim3 opened #4240 "fine tuning in korean conformer-transducer"
**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

A clear and concise description of what you want to happen.
Provide a code snippet on how new APIs/changes would be used by others.

**Describe alternatives you've considered**

A clear and concise de

[2022-05-24 02:39] titu1994 commented on #4240
You can't add tokens after the tokenizer has been built, so the text that builds the manifest must contain some special Unicode character that represents blank. What does <b> represent ? If you mean CTC/RNNT blank, in Nemo it is the final token in the vocab.

[2022-05-24 02:40] titu1994 commented on #4240
Also when finetuning model, change tokenizer / vocabulary before setting up data loaders. The diagram of order of steps is here - https://github.com/NVIDIA/NeMo/tree/main/examples/asr/asr_transducer

[2022-05-24 05:23] naymaraq commented on #4234
Let me share the results.
On VoxConverse Dev set, I obtained 3.3% DER with Oracle VAD and with unknown #speakers. And 6-7% DER with oracle VAD and known #speakers.

[2022-05-24 05:44] EmreOzkose commented on #4229
I am also using Horovod for multi-machine case. I run the same script with different parameters:
1. `horovodrun -np 1 -H server1:1 --verbose --start-timeout 300 python text_classification_with_bert.py`
2. `horovodrun -np 2 -H server1:2 --verbose --start-timeout 300 python text_classification_with_bert.py`
3. `horovodrun -np 3 -H server1:3 --verbose --start-timeout 300 python text_classification_wi

[2022-05-24 06:43] togousch commented on #4157
Build an image from repo https://github.com/NVIDIA/NeMo/tree/v1.8.2 with
docker build -f Dockerfile -t nemo:latest .

[2022-05-24 08:32] leonardltk opened #4245 "How to reduce the vocabulary for a QuartzNet model?"
For a simple script like this:
[code]

It performs well
However if i change the problem of just predicting fixed number of words, for example `yes, no`
How should i augment the language model part of it ?

[2022-05-24 08:43] titu1994 commented on #4245
If you only need to predict a few words, you should train a much more lightweight speech classification model such as matchboxnet. If you absolutely want to use QuartzNet, which is a speech recognition model, you can try many things such as finetuning on those specific words, use an LM which is trained primarily on variations of those words or you can try using a newer technique such as adapters t

[2022-05-24 08:46] leonardltk commented on #4245
thanks @titu1994 for the feedback!

Yes definitely im thinking to try a lighter weight model next time.
For now, im interested in how to perform the word boosting method that you mentioned, is there a tutorial here or resource u could point me to for that ?

[2022-05-24 08:49] leonardltk commented on #4245
the reason is because the sentences that i want to predict might be `yes its me` `no its not me` so the overall dictionary might be dynamic throughout my experimentation

[2022-05-24 08:57] titu1994 commented on #4240
Weird - it says your optimizer was setup. Also, <unk> and <pad> have no relevance in character based models. They will never be used unless your text actually includes those exact tokens. If you are using tokenizer then use such tokens, otherwise remove them from your char models. Mixing of both may cause errors in training.

[code]

Your config seems fine, and code is correct. Does it just stop a

[2022-05-24 08:59] titu1994 commented on #4245
Nemo does not support word boosting. Facebook Flashlight decoder supports it in the Riva framework, you can export Nemo QuartzNet model to use in that framework

[2022-05-24 09:12] leonardltk commented on #4245
in that case,

[2022-05-24 09:13] titu1994 commented on #4245
We won't be supporting that. It has a very messy c++ codebase dependency which we don't want to introduce to Nemo.

[2022-05-24 20:04] itzsimpl commented on #4224
Thanks, this works. Interestingly, the call of `validation_epoch_end()` happens even if `trainer.num_sanity_val_steps=0`, which as I understand should skip running any validation pre-training.

[2022-05-24 20:59] piraka9011 commented on #4083
I found this issue in PTL https://github.com/PyTorchLightning/pytorch-lightning/issues/12713
I tried installing the [latest nemo](https://github.com/NVIDIA/NeMo/commit/0550cb987b98b63168835af371719679c51c225d) from main using Nvidia's 22.04 pytorch container and ran the same flow above and noticed the slowdown.

I downgraded PTL to 1.5.10 and modified the NeMo lib manually by:
* Replacing `num_dev

[2022-05-24 20:59] VahidooX commented on #4229
This part is handled by PTL and AFAIK we don't have tested our models with horovod. I suggest to increase the batch size to the maximum possible not getting OOM to utilize the GPUs the most, then rerun the tests. Also train it for more than 1 epoch to have a better estimation. First epoch can take longer sometimes. What is the time per step you see in the progress bar in the output logs for differ

[2022-05-24 21:04] redoctopus commented on #4226
I have not been able to reproduce this with the following:
[code]
Can you try again and see if it still fails? NGC may have been down temporarily at the time.

[2022-05-24 22:03] davidmartinrius commented on #4226
Hello! I will try it tomorrow moring and I will confirm if it works. Thank you!

[2022-05-24 22:12] davidmartinrius commented on #4020
I didn't know that Talknet was about to be deprecated. So I did not invest my time to investigate it.

I supose that fastpitch is the model that is going to be maintained?
Is there a roadmap where I can see the nexts steps of NeMo?

Actually, I started training TTS models with Tacotron2. Then I had an issue, I reported it in this project and another guy from github told me that Tacotron2 was not g

[2022-05-24 22:20] redoctopus commented on #4020
Various models have been marked for deprecation for several months, starting from this PR: #3576. We decided to remove TalkNet as well last month, in #3955.

Our recommended way to train a TTS model is using FastPitch and HiFi-GAN, which will be supported for the foreseeable future.

[2022-05-24 22:25] davidmartinrius commented on #4020
Ok thanks!

[2022-05-24 22:25] #4020 closed

[2022-05-24 22:58] davidmartinrius opened #4252 "Not sure how to train TTS model"
Hello!

In this post I would like to ask some questions.
As a premise I want to tell you what kind of machine I am working.

I have got an MSI Creator P100X -637
The specs are
GPU RTX 3080
64GB RAM
Intel Core i7-11700K
CPU 3.6 GHz

I work with trial an error and it is very confusing. Depending on the size of the dataset the GPU only accepts a limited max number in batch size.

For example, if I am

[2022-05-24 23:22] davidmartinrius opened #4253 "Fastpitch TTS in other languages"
Hello!

I would like to train some models with fastpitch.

One model in Spanish and other model in Catalan.

Each language has its own alphabet, symbols, punctuations, tildes, phonemes, etc

1. How to define and set all of this properties to get started?

2. If there are other properties that need to be defined, which are?

Thank you!

David Martin Rius

[2022-05-25 11:21] EmreOzkose commented on #4229
Actually I run experiments only 1 time. I am conducting experiments with more epochs and more batch sizes for better estimation. I will report here, thank you.

[2022-05-25 16:05] piraka9011 commented on #4083
Wow... what a PITA this whole investigation was only to realize it was because of single flag and an undocumented change (nothing in the release notes and no logging warnings...)

I just ran this with `benchmark: false` and I got the performance back to what it was expected... (slightly faster too)

and yes, if you could update the default configs in the repo that would be appreciated.

[2022-05-25 16:05] #4083 closed

[2022-05-25 17:51] VahidooX commented on #4083
Thanks a lot @piraka9011 to help us catch this bug!
I created a PR to fix it in all the configs: https://github.com/NVIDIA/NeMo/pull/4260

[2022-05-25 21:37] MaximumEntropy commented on #4224
Yeah, this is strange behavior that we've seen since PTL 1.6. Have a PR that "fixes" it here for 1.9.0 - https://github.com/NVIDIA/NeMo/pull/4265

[2022-05-25 21:38] MaximumEntropy commented on #4224
Please re-open this if you see something similar.

[2022-05-25 21:38] #4224 closed

[2022-05-26 00:10] aroraakshit commented on #4253
Hi @davidmartinrius  -
1. How to define and set all of this (language's own alphabet, symbols, punctuations, tildes, phonemes) properties to get started?
-> We define these in the tokenizer here: https://github.com/NVIDIA/NeMo/blob/main/nemo/collections/tts/torch/tts_tokenizers.py
for each new language, you may create a class from BaseCharsTokenizer (say, SpanishCharsTokenizer) and define how you'

[2022-05-26 00:54] dykim3 commented on #4240
I've struggled with optimizer issue, it didn't load optimizer when I load checkpoint.. but after I've change the code to this it works fine..

[code]

but I came with another problem...after 10% training the code shows embedding error.. which wasn't occured with  the same manifest used to train rnnt_bpe model.

[code]

[2022-05-26 08:40] leonardltk opened #4271 "transcribe_audio"
[code]
is there a replacement of `transcribe` that takes in the already loaded audio in numpy/torch array instead of the path ?

[2022-05-26 08:42] titu1994 commented on #4271
No, the current implementation does not support tensors, only files. We're looking into what it would take to support tensors

[2022-05-26 09:53] davidmartinrius commented on #4253
Hello @aroraakshit !

Thanks for responding. I am going to try this. It is possible that it will take me some time. So, in the meantime I prefer to close this ticket. And if I have any other doubt about this I will open another one.

[2022-05-26 09:53] #4253 closed

[2022-05-26 09:59] davidmartinrius commented on #4226
It seems that is still crashing. Do you know how to contact to NGC? I would like to solve this. Thank you

[2022-05-26 16:39] jeffersonquispe commented on #4225
I have the sama problem, how do you solve it?

[2022-05-26 17:00] sciai-ai opened #4275 "Compute needed to train ASR on Nemo ASRSet v3.0"
I am trying to train an ASR from scratch using somewhat like an ASRSet. I am wondering what compute power (GPUs etc) was used to train the STT models in Nemo. and whether it is possible in GCP to have enough compute power to do this?

[2022-05-26 18:12] titu1994 commented on #4275
We use 16 nodes, 8 A100s per node to train these models. We can do the same with 8 nodes, 16 V100s per node as well.

[2022-05-26 18:12] titu1994 commented on #4225
Downgrade your hydra version to 1.1.2

[2022-05-26 18:16] sciai-ai commented on #4275
Does GCP have any config for this? I usually finetune on a single node with 4 T4 GPUs so I guess that will be too little for training.

Also how much time does it typically take for the model to finish training?

[2022-05-26 18:22] titu1994 commented on #4275
If you have solo access, it takes around 3-4 days at max for convergence. This is for 25k hours of speech.

[2022-05-26 20:58] titu1994 commented on #4225
Your issue is unrelated to this thread. Please open a new one.

[2022-05-26 21:23] jeffersonquispe opened #4276 "HifiGan finetuning doesn't work"
**Describe the bug**
Have the following bug when run commamd to traininig HifiGan Finetuning:
Error in call to target 'nemo.collections.tts.torch.data.VocoderDataset':
FileNotFoundError(2, 'No such file or directory')
full_key: train_ds.dataset

**Steps/Code to reproduce bug**

command as the turorial :
python hifigan_finetune.py --config-name=hifigan.yaml model.train_ds.dataloader_params.batch_si

[2022-05-26 22:13] redoctopus commented on #4276
It doesn't look like it can find your dataset. Can you double check the location?

[2022-05-26 22:30] redoctopus commented on #4226
Are you able to run `wget https://api.ngc.nvidia.com/v2/models/nvidia/nemo/tts_en_fastpitch/versions/1.8.1/files/tts_en_fastpitch_align.nemo`? Both the above code and the wget command are working on my end...

Not sure how to contact NGC, I'll see if anyone else knows.

[2022-05-27 02:57] sciai-ai commented on #4275
Assuming its 4 T4 GPUs on a solo node, what would be the probable batch size.

[2022-05-27 03:10] titu1994 commented on #4275
I don't really know, depends on the configuration and memory. ASR training takes a lot of compute and memory.

[2022-05-27 23:21] gedefet opened #4280 "TTS: How do you get fmin and fmax for a given audio dataset?"
Hi all.

In different tutorials, specially in the TTS ones, you have to provide parameters fmin and fmax of your speaker. Nevertheless, there is no automatic way or tutorial on how to do that.

How do you extract fmin and fmax from an audio dataset?

Thanks,

[2022-05-28 07:44] RezaBi opened #4283 "External Vad manifest"
**Is your feature request related to a problem? Please describe.**

I have been using diarization.py example using the provided config file. The marble net vad acts really poor detecting speech. So I decided to use an External vad *( e.g pyannote vad ) to provide to the model. I could not find how to convert an external vad outputs to the manifest file required for the model

**Describe the soluti

[2022-05-29 11:03] #4283 closed

[2022-05-29 11:04] RezaBi commented on #4283
I solved this by providing a rttm type output from my external VAD & then use the oracle-vad option.

[2022-05-29 12:10] 520jefferson opened #4285 "My i just use T5 in dialogue without pretrain a language model"
I want to distill a big model to t5-base model, and the big model use bpe not sentencepiece, So the tokenizer should be load the bpe codes and the vocabs is differenct from the origin t5-base model. Therefore i am not sure about two things.
1, whether the t5 can be train in dialogue without pretrain, and  i find this config (https://github.com/NVIDIA/NeMo/blob/main/examples/nlp/dialogue/conf/dialo

[2022-05-29 14:41] msis opened #4286 "Remove librosa from asr.models.label_models"

[2022-05-29 14:42] #4286 closed

[2022-05-29 14:44] msis commented on #4286
This is a WIP at https://github.com/Tarteel-io/NeMo/tree/no_librosa
`torchaudio` has most of the `librosa` currently used (in `asr` at least).
I will create a PR when done.

[2022-05-29 16:24] #4275 closed

[2022-05-29 18:14] titu1994 commented on #4286
Sorry, but we won't be moving purely to torchaudio. It has significant installation issues in our containers.

[2022-05-29 18:37] nikuson commented on #3409
this PR was closed again

[2022-05-29 18:55] tanmoyio commented on #4280
@gedefet Lower bound for frequency is 0 so `fmin` will be 0, and to calculate `fmax`, you can use `sample_rate/2`

[2022-05-29 19:07] tanmoyio commented on #4285
@okuchaiev if you haven't started would you mind assigning it to me? I want to give it a try
cc @520jefferson

[2022-05-29 23:08] msis commented on #4286
Understood.

My motivation is to get even the preprocessing modules exportable.
Right now, the export of only the encoder and decoder for ASR is painful
because the preprocessing still need to be matched.
Is there another way you can think of?

On Sun, May 29, 2022 at 14:14 Somshubra Majumdar ***@***.***>
wrote:

--
—
Mohamed Saad Ibn Seddik, Dr.Eng.
@msibnseddik
(Sent from mobile device)

[2022-05-30 00:11] titu1994 commented on #4286
A non destructive change would be to have a parallel copy of the preprocessor code, but with librosa removed with torch equivalent. That can be exported as long as it's outputs match the librosa output's 1:1 (<1e-5 mae). In effect it should be equivalent then since the preprocessor is mostly the same across almost all our models.

[2022-05-30 00:12] titu1994 commented on #4286
That module can then be exported seperately from the AM+ Decoder (+joint for RNNT).

[2022-05-30 01:23] msis commented on #4286
OK.
I've already run some test, and it seems like most `librosa` functions have equivalent in `torchaudio`.

For example:
[code]
are `torch.allcose` (absolute tolerance of `1e-7`, not the default `1e-8`) with an average MSE of `1e-17`.

[2022-05-30 12:31] NK990 opened #4287 "Tacotron2.ipynb error Hydra"
Describe the bug

When running the tutorial notebook for Tacotron2 training in Google Colab. After this step;
`!python tacotron2.py \
sample_rate=16000 \
train_dataset=tests/data/asr/an4_train.json \
validation_datasets=tests/data/asr/an4_val.json \
trainer.max_epochs=3 \
trainer.accelerator=null trainer.check_val_every_n_epoch=1 \
trainer.gpus=1`
 Hydra issue is raised:
`Traceback (most recent ca

[2022-05-30 13:37] psydok opened #4288 "How to initialize the weight of each letter separately for ASR (QuartzNet and CitriNet)?"
I want to do Transfer Learning by explicitly initializing the en -> ru alphabet.
[code]

Do not tell me how this can be done? I didn't find it in the tutorials.
Thanks in advance!

[2022-05-30 17:59] titu1994 commented on #4288
If it's a character based model like QuartzNet, you can just pass the list of values in your dict to change_vocabulart().

Subword models like Citrinet do not support such mapping, you can just use Tokenizers with the Russian alphabet and the model should learn the new token mapping.

[2022-05-30 18:01] titu1994 commented on #4287
You have to reduce your hydra version, we don't support the latest version yet. What branch is being used and how was it installed?

[2022-05-30 19:04] NK990 commented on #4287
[code]

Which version of hydra should I use in this case?

[2022-05-30 19:25] titu1994 commented on #4287
Right we didn't pin hydra to 1.1.2 in Nemo 1.8.x. Nemo 1.9.0 should be out in a few days, that should auto fix this, but till then you can use hydra-core==1.1.2

[2022-05-30 19:31] NK990 commented on #4287
I'll give a shot and let  u know...
And what about KALDI_ROOT=/mnt/matylda5/iveselyk/Tools/kaldi-trunk

[2022-05-30 20:34] titu1994 commented on #4287
Ignore it. Some old library decided to log a hardcoded value at import time. We've stopped depending on that library in newer versions of NeMo.

[2022-05-30 20:34] #4287 closed

[2022-05-30 20:34] gedefet commented on #4280
Thanks @tanmoyio , but I think you're referring to Nyquist theorem here.

I refer to the parameters that you need for training FastPitch. For example, for speaker 6097 of the HiFiTTS dataset, the training parameters are:

[code]

It is not very clear to me how to extract those parameters from a given dataset. Also clearly they're not in Hz.

Best,

[2022-05-30 20:57] NK990 commented on #4287
I can still raport issues about this, sorry....
After reducing hydra core to 1.1.2 I run into several problems...
**TypeError: _run_hydra() got an unexpected keyword argument 'strict'**
I make a work around by removing completely `strict=None,` from `/usr/local/lib/python3.7/dist-packages/nemo/core/config/hydra_runner.py`
``
after runing trainer again `!python tacotron2.py sample_rate=16000 train_

[2022-05-31 18:00] redoctopus commented on #4280
We no longer recommend that users manually set the fmin/fmax; rather, please use the librosa default values (in the current configs) as those should work for speakers across the board.

[2022-05-31 18:00] #4280 closed, assigned to okuchaiev

[2022-05-31 18:28] gedefet commented on #4280
@redoctopus but I'm using my own dataset. What about that case?

[2022-05-31 20:39] redoctopus commented on #4280
That should be fine as well, the librosa defaults should work for human speech in general.

[2022-05-31 20:44] gedefet commented on #4280
@redoctopus note this from the FastPitch_Finetuning tutorial:

The number of speakers in the data. There is only 1 for now, but we will revisit this parameter later in the notebook.
**model.pitch_mean=121.9 model.pitch_std=23.1 model.pitch_fmin=30 model.pitch_fmax=512**

For speaker 92, we suggest **model.pitch_mean=214.5 model.pitch_std=30.9 model.pitch_fmin=80 model.pitch_fmax=512**

All the par

[2022-05-31 21:19] redoctopus commented on #4280
As usual, `pitch_mean` and `pitch_std` can be calculated as in https://github.com/NVIDIA/NeMo/blob/main/scripts/dataset_processing/tts/extract_sup_data.py

As I recall from last year, we would sometimes change fmin/fmax in order to cut out noise from lower-quality recordings, and then eyeball the predicted pitch contours until things looked "pretty good." I'm not sure about the picks specifically

[2022-06-01 05:29] psydok commented on #4288
@titu1994  I want to do a weight transfer of each character. And so I get to reset the decoder, and I will have to train from scratch, if I understand correctly.

[2022-06-01 06:01] VahidooX commented on #4245
For word boosting, your other option is to use this decoder with nemo models:
https://github.com/kensho-technologies/pyctcdecode

[2022-06-01 06:07] titu1994 commented on #4288
Yes, as long as the characters map 1:1, you can load the weights. If there is not 1;1 map, you have to load the weights matrix and manually index the weight and stitch them into the new model decoder.

[2022-06-01 06:18] psydok commented on #4288
And how can I check that the desired weights have loaded?
The only tip when I do:
[code]
The quality of recognition becomes at the level of the old_model of the model, but I can’t confirm for myself that I transferred the weights and how.

[2022-06-01 06:24] rajatjaiswal96 opened #4296 "Fine-Tuning TokenClassification NER Bert Model"
**Describe the bug**

A clear and concise description of what the bug is.

**Steps/Code to reproduce bug**

While doing the Fine-Tuning of pretrained ner_en_bert model, Model Config file is not getting update with the new one. It is using the same config file on which model is pretrained on. I can see the same in logs after calling trainer.fit()
I've already tried with below settings:

model.cfg =

[2022-06-01 06:58] titu1994 commented on #4288
There's no code to do it as you exactly need it. Everything is pytorch, so you can code if yourself if you need it. You can access the decoder module using model.decoder, and use new_model.decoder.load_state_dict(old_model.decoder.state_dict()) if the shapes match.

If they don't you will need to modify the state dict itself to chop off the tensors that don't match the new decoder shape.

Btw, we

[2022-06-01 07:14] titu1994 commented on #4288
No. There is no need to retrain in 8k. We find 16 khz model works better after upsampling 8khz audio, than having a true 8khz model.

[2022-06-01 12:54] itzsimpl opened #4300 "Problems running multi-gpu punctuation capitalization training"
**Describe the bug**

Running multi-gpu training without a pre-prepared cache, crashes upon initialization with the following trace
[code]

The issue arises because, the order of starting the individual processes, does not guarantee that the process with `global_rank()=0`  will start first. There seems to be a guard
https://github.com/NVIDIA/NeMo/blob/f9d45db36afae8d75aecc27175a854d289bffd84/nemo/

[2022-06-01 13:10] BSen007 commented on #4192
same issue here!

[2022-06-01 13:10] blisc commented on #4280
You can see section `Getting Pitch Statistics` at https://catalog.ngc.nvidia.com/orgs/nvidia/teams/tao/resources/texttospeech_notebook/version/v1.1.1/files/text-to-speech-finetuning-cvtool.ipynb for information on how to update your fmin and fmax.

But we no longer recommend this, and recommend to stick to the librosa defaults.

[2022-06-01 16:05] nithinraok commented on #4192
@titu1994 what version is the fix provided in?

[2022-06-01 16:29] BSen007 commented on #4192
`pip install hydra-core==1.1` solved the issue for me

[2022-06-01 17:19] ericharper commented on #4296
@ekmb could you look at this or assign it to someone who can?

[2022-06-01 17:24] ericharper commented on #4165
Could you try using a more recent version of the notebook? 1.8.0 is the latest released version of NeMo. Also, the notebook should work on main as well.

[2022-06-01 17:38] #4276 closed

[2022-06-01 18:42] yzhang123 commented on #4300
@PeganovAnton could you please take a look?

[2022-06-01 21:25] jjandnn commented on #4020
如果你的版本是1.8.2你必须用1.8.2的conf文件夹中的yaml，同时必须用官方的nemo与训练模型。在安装了nemo后，再安装HYDRA-CORE==1.1.1

If your version is 1.8.2, you must use YAML in the 1.8.2 Conf folder, and you must use the official Nemo and training model at the same time.After installing NEMO, install Hydra-core == 1.1.1

[2022-06-02 06:27] psydok commented on #4288
Good. Thanks, I saw!

I would also like to try to train citrinet, but when I try to initialize the voice model decoder weights (new_model.decoder.load_state_dict(old_model.decoder.state_dict())), it tells me that the size of the dictionary does not match. Indeed, the spe(char) tokenizer has added another character to the dictionary (`<unk>`).

I understand correctly, that each weight from `golos_m

[2022-06-02 07:03] ekmb commented on #4296
@rajatjaiswal96 this is the expected behavior: either finetune the model on a dataset that has the same set of labels the original model was trained on (see the old config) or start BERT fine-tuning from scratch (don't load pre-trained ner model).

[2022-06-02 07:03] #4296 closed

[2022-06-02 07:41] psydok commented on #4288
I figured it out, I didn’t notice right away that it was also necessary to add a value to bias.
I added a zero to the beginning.

[2022-06-02 07:53] psydok commented on #4288
Could you also tell me if it will be possible to achieve good results on citrinet in this way for training a recognition model on datasets of different domains + golos?

[2022-06-02 08:25] titu1994 commented on #4288
You don't really need to stitch such weights together. There's no need with Tokenizer based models. We found that we simply fine tuned a Citrinet with 1024 tokens in English, replaced the decoder with 1024 token of Russian subwords, loaded English decoder weights and finetuned on Russian corpus. This gave us excellent scores as I've mentioned before.

We didn't need to do any of this stitching of

[2022-06-02 17:04] psydok opened #4313 "Is it possible to write custom dataloader and embed it in the architecture of the QuartzNet model for training?"
Good evening! I have 2 questions...
1. Is it possible to write your own dataloader and embed it in the architecture of the QuartzNet model for training?
It seems to me that I saw somewhere how the default dataloader is replaced with a custom dataloader. But I can't find an example of how to do it.
2. Is it possible to somehow see which dataloader is used from the loaded model in the code?

Many th

[2022-06-02 17:20] psydok commented on #4288
Thanks a lot! Tell me, please, on what volume of the corpus did you retrain the English-language model into Russian? How much time did it take you?
I tried to put it on the GOLOS case with batch size 32 from scratch. It is trained very slowly, there is no quality yet.
Although I haven't tried your method yet, but there were doubts whether it was worth trying to train such a model at all. Initially

[2022-06-02 17:51] mesut92 opened #4314 "How should i use Kaldi MFCCs?"
Hi
I have kaldi feats.ark and text, but i do not have wavs. And i need to train ASR. I guess you had scripts for that before, but you removed them. Do you have any suggestion for me?Or any way to use feats?

Thanks
Best Regards

https://docs.nvidia.com/deeplearning/nemo/user-guide/docs/en/stable/starthere/best-practices.html?highlight=kaldi#using-kaldi-formatted-data

[2022-06-02 18:53] titu1994 commented on #4288
If you need streaming models, or at least strong streaming performance with offline models, I think Conformer will be much better choice than either of the above models. As to question regarding wer on Russian corpus, I'll ask @vsl9 to commentv

[2022-06-02 18:55] mesut92 commented on #4314
But manifest format requires wavs, wright ?

[2022-06-02 19:24] gkucsko opened #4315 "Multiprocessing hangs in VAD during diarization"
In some environments, VAD as part of the diarizer stalls during multiprocessing. Would probably warrant some closer investigation into spawn context, but for a quick fix I added a mini PR to disable multiprocessing by setting num_workers=1
https://github.com/NVIDIA/NeMo/pull/4317

[2022-06-02 20:43] mesut92 commented on #4314
Thanks for quick response.

[2022-06-02 20:43] #4314 closed

[2022-06-03 02:40] harveenchadha opened #4321 "Add Squeezeformer to Nemo"
Squeezeformer looks promising and uses some of the reusable components from conformer backbone. Creating a placeholder for discussion and implementation.

[Official Implementation](https://github.com/kssteven418/Squeezeformer)

[Paper]([arxiv.org/pdf/2206.00888.pdf](https://arxiv.org/pdf/2206.00888.pdf))

[2022-06-03 02:52] harveenchadha commented on #4083
Is this an issue with Conformer models as well? Do we need to change the config for them as well?

[2022-06-03 03:32] piraka9011 commented on #4083
@harveenchadha this is a change on the PyTorch Lightning layer (specifically the Trainer) not the model layer so yes, you should change this for all models.
Although it looks like the change might not be needed so long as you have PTL>=1.6.4 https://github.com/PyTorchLightning/pytorch-lightning/releases/tag/1.6.4

Keep torch.backends.cudnn.benchmark=False by default (unlike in v1.6.{0-4}) after sp

[2022-06-03 04:55] harveenchadha commented on #4083
Thanks for the confirmation @piraka9011.

Based on the investigation in this thread, for faster training what are the final recommendations?

1. Tar vs manifest datasets.
2. Bucketing vs no bucketing (bucketing_batch_size ? How to tune)
3. num_workers
4. Optimal shards

If you can summarize a bit it will be really helpful, I am trying the conformer models but the training is incredibly slow.

[2022-06-03 17:41] okuchaiev commented on #4321
I'll let @titu1994 comment on that architecture and whether we plan on it for ASR

[2022-06-03 17:44] okuchaiev commented on #4229
Wow, I didn't know Horovod will work. But regarding multi-machine, how are they connected? Could machine-machine communication be a bottleneck for you?

[2022-06-03 17:45] okuchaiev commented on #3982
@tango4j and/or @nithinraok  is this issue resolved or is it a non-issue? Please close if resolved

[2022-06-03 17:46] okuchaiev commented on #4012
@borisfom  any thoughts on this?

[2022-06-03 18:34] titu1994 commented on #4321
The architecture is reasonably similar to Conformer that we can add it, but it may take a while to polish it. The original codebase is in TF and porting 1:1 usually required minor modifications for correct convergence.

[2022-06-03 18:35] titu1994 commented on #4321
So expect it around Nemo 1.12 or so (2 months~3 months). It may be on main branch sooner.

[2022-06-03 18:35] titu1994 commented on #4321
FYI @VahidooX

[2022-06-03 20:13] tango4j commented on #3982
As @nithinraok mentioned, Instead of using pydub, use `data, sr = librosa.load(audio_file_path, sr=TARGET_SR)` by specifying TARGET_SR= 22050. This has been successfully working with NeMo Feature extractor. Since this is not a bug from `get_samples` function in NeMo, I will close this.

[2022-06-03 22:25] gowtham1997 opened #4332 "Torchscripting Transducer model results in " Module 'FilterbankFeatures' has no attribute 'stft' ""
[code]
 I am trying to convert a nemo rnnt transducer model to torchscript for testing mobile deployment and the torch.jit.script results in the following error:

[code]

1. I couldn't find lot of related issues online, so wanted to check if you have recommended ways to convert nemo conformed transducer models to torchscript?

2. I also tried using [nemo_model.export](https://docs.nvidia.com/deepl

[2022-06-04 21:09] manuel3265 opened #4335 "Use ASR Adapters with Citrinet model"
Hello, is there someone who can help me use the adapters with models other than the conformer ones. I want to use the adapters with the citrinet models and would like to know if it is possible and how I could do it.

[2022-06-04 21:30] #4335 closed

[2022-06-04 21:31] titu1994 commented on #4335
Please don't create duplicates. There's a discussion opened by you, let's continue there.

[2022-06-04 21:37] titu1994 commented on #4332
The preprocessor is not exportable to torchscript or onnx. That's what your first error is showing.

Onnx is exportable for RNNTs, we haven't tried to make it torchscript compatible since that turned out to be harder (surprisingly).

Refer to https://github.com/NVIDIA/NeMo/blob/main/examples/asr/export/transducer/infer_transducer_onnx.py

Which will load a Nemo model, export it into components, th

[2022-06-04 22:20] titu1994 commented on #4321
Closing for now, well keep you updated over the coming months.

[2022-06-04 22:20] #4321 closed

[2022-06-04 22:21] #4313 closed

[2022-06-04 22:21] #4288 closed

[2022-06-04 22:21] #4271 closed

[2022-06-04 22:21] #4245 closed

[2022-06-04 22:22] #4227 closed

[2022-06-04 22:22] #4166 closed

[2022-06-04 22:23] #4176 closed

[2022-06-04 22:24] titu1994 commented on #4105
@borisfom

[2022-06-04 22:25] #4034 closed

[2022-06-04 22:26] #3933 closed

[2022-06-04 22:27] #3854 closed

[2022-06-05 13:23] itzsimpl opened #4336 "MTEncDecModel translate drops text, when input text is large"
**Describe the bug**

Is there a limit to the maximal text input length when calling `MTEncDecModel.translate()`? I mean the length of individual strings or size of List. Is it model config dependant? E.g. is it determined by `max_sequence_length`? If so, is this the number of tokens after tokenisation with `encoder_tokenizer` or the length of the string (chars with spaces)? I am asking this as I

[2022-06-05 20:38] gowtham1997 commented on #4332
Thanks for your reply. I see that `torch.jit.script` shows errors on the preprocessing step. But I was able to use a dummy audio input, use `torch.jit.trace` and this converted the encoder into .pt file (im facing some errors for predictor-joiner network but this looks fixable)

What are your thoughts on this trace method? Did you guys also try this during your testing?

[2022-06-05 20:45] titu1994 commented on #4332
If you can get Prednet and joint to work with torchscript, please do send a PR ! I gave up on it after onnx worked out, but torchscript is used more commonly so it would be valuable to have.

If you use the export script I sent, but use the file extension of .pt, it will correctly not work cause the code for that path was left incomplete. You'll need to modify some of the decoder / joint code to s

[2022-06-06 08:57] hruturajnikam opened #4338 "Error in multinode training"
**Following is the error log .please suggest the solution**

[NeMo W 2022-06-04 14:58:08 exp_manager:895] The checkpoint callback was told to monitor a validation value and trainer's max_steps was set to -1. Please ensure that max_steps will run for at least 1 epochs to ensure that checkpointing will not error out.
Initializing distributed: GLOBAL_RANK: 0, MEMBER: 1/16
Initializing distributed: GL

[2022-06-06 10:44] EmreOzkose commented on #4229
I think network bandwidth have to be 10gbit or 25gbit. My bandwidth is 1gbit. I conduct some DDP experiments in speechbrain, details can be found [here](https://github.com/speechbrain/speechbrain/issues/1426). In summary, if bandwidth is low, training with DDP pretend to fail, but actually the main reason is low bandwidth. I did only DDP experiments to ensure if the problem is the network, but I t

[2022-06-06 12:27] #4229 closed

[2022-06-06 12:28] itzsimpl commented on #4338
Could you provide the nemo version, the environment (barematal or container, in the latter case how you built it), last but not least how you are running the command (e.g. SLURM and its parameters, or other).

This will help in debugging. As it currently stands it looks like an issue with the way the command is run, i.e. I see 16 GPUs starting, but I see that they come from two nodes, which are in

[2022-06-06 16:56] evros-chris opened #4339 "Issue with MTEncDecModel model in ONNX IOBinding"
**Describe the bug**

I face the following error when exporting [MTEncDecModel](https://github.com/NVIDIA/NeMo/blob/r1.2.0/nemo/collections/nlp/models/machine_translation/mt_enc_dec_model.py) to ONNX and trying to bind inputs and outputs directly to a PyTorch tensor.

**Steps/Code to reproduce bug**

[code]

**Error:**
[code]

**Environment overview (please complete the following information)**

[2022-06-06 17:23] MaximumEntropy commented on #4336
Hey @itzsimpl! There is no limit to the max input sequence length. If we find an input sequence that is > max sequence length while training (in terms of tokens produced by the encoder tokenizer), we expand the sinusoidal positional embeddings up to that sequence length so you can go beyond the config's `max_sequence_length`. However, the model will definitely struggle with inputs larger than what

[2022-06-07 07:33] sunasu91 commented on #4165
Thank you for the reply.
I used the latest version of the notebook. I end up with this error.

`[NeMo W 2022-06-07 07:32:22 optimizers:55] Apex was not found. Using the lamb or fused_adam optimizer will error out.
[NeMo W 2022-06-07 07:32:23 experimental:28] Module <class 'nemo.collections.nlp.data.language_modeling.megatron.megatron_batch_samplers.MegatronPretrainingRandomBatchSampler'> is experi

[2022-06-07 07:47] PeganovAnton commented on #4300
Related to https://nvbugswb.nvidia.com/NvBugs5/SWBug.aspx?bugid=3570701&cmtNo=

[2022-06-07 09:57] alexandercesarr opened #4344 "training self-supervised conformer"
Hi, I use `examples/asr/speech_pretraining/speech_pre_training.py` code to train a self-supervised using conformer on my custom dataset. I just changed the manifest files address in conf file. When I run the code, I encounter the below issue.
I use NeMo version 1.8.0. Also I test it on version 1.9.0 but the same problem occured.

**Environment details:**
torch 1.9.0a0+c3d40fd
pytorch-lightning 1.6

[2022-06-07 10:36] dunky11 opened #4345 "Which version of nemo to install in order to reduce dependencies?"
I'm currently using nemo only for text normalization - I only import nemo_text_processing.text_normalization.normalize.Normalizer.

I install nemo toolkit using nemo-toolkit[all]==1.8.2. Is there any way to reduce the number of dependencies, for example by not installing [all]? I haven't found anything in the docs.

Thanks for any help in advance.

[2022-06-07 12:59] hruturajnikam commented on #4338
Issue resolved with new nemo image and changing parameters in slurm

[2022-06-07 12:59] #4338 closed

[2022-06-07 16:29] sam1373 commented on #4344
Hi @alexandercesarr, based on this error message it seems that you are using the config file from main branch, which is only compatible with NeMo 1.10.0. You will need to either switch your config to the one in 1.8.0/1.9.0, or reinstall using main branch to use the newer config.

[2022-06-07 19:05] yzhang123 commented on #4345
@dunky11
you can directly install  nemo-toolkit[nemo_text_processing] (as in here https://github.com/NVIDIA/NeMo/blob/main/tutorials/text_processing/WFST_Tutorial.ipynb)

this is the most lean version, it does not support things like `--punct_post_process` which requires nemo-toolkit[nlp] or audio based normalization with audio data which requires nemo-toolkit[asr]

I will add this to documentatio

[2022-06-07 20:59] nithinraok commented on #3982
I would suggest seeing what's happening with the error here.
and may be a better way is to use `data, sr = librosa.load(audio_file_path, sr=TARGET_SR)` instead of read and resample.
https://github.com/NVIDIA/NeMo/blob/d4246c59f47894aa8e04cea6485775edc4ed6574/nemo/collections/asr/parts/utils/decoder_timestamps_utils.py#L224

[2022-06-08 06:10] alexandercesarr commented on #4344
@sam1373 That was it. Thank you very much.

[2022-06-08 06:33] #4344 closed

[2022-06-08 09:02] psydok opened #4351 "How to interpret the training result: high loss, low WER?"
I am training a conformer-ctc model on dataset Golos (+own data) using the encoder weights of a pre-trained English conformer-ctc model.
At first, the loss and ver on the train dataset and on the validation one converged.
After a 100k step, the loss began to diverge, and the ver slowly but continued to converge. Could you help me understand what this means?
After all, if the predictions began to d

[2022-06-08 10:55] evros-chris commented on #4336
Hi @MaximumEntropy! I would like to ask, what is the method used in practice to try and chunk a very long sequence into sentences that can be translated independently?

[2022-06-08 15:13] evros-chris commented on #4336
Thank you for your answer @itzsimpl, but what if the input is one very long sentence? In that case, `nltk.sent_tokenize(text)`  does not split it. I would like to ask what approach is used in practice to split the input into independent parts (not necessarily into sentences).

[2022-06-08 16:07] dunky11 commented on #4345
Thanks, that clarified it!

[2022-06-08 16:07] #4345 closed

[2022-06-08 19:20] titu1994 commented on #4351
Your model is overfitting severely, see the training loss continue to go down but Val loss spike. You should use more spec augment (say 5 time masks rather than 2) to slow down overfitting.

Another thing is your train duration distribution is very large - max duration of 55 seconds limits your batch size too much. Conformer requires a minimum global batch size of at least 256 to converge stably w

[2022-06-08 19:21] titu1994 commented on #4351
@VahidooX for any additional advice

[2022-06-08 20:38] thebhsu opened #4353 "Text Normalization Corrupted Output"
**Describe the bug**

Tags are propagated to the output text during normalization.

**Steps/Code to reproduce bug**

[code]
**Expected behavior**

The first example should return `google dot com is related to apple dot com`, the second one is ok as I believe one would need to add rules to handle such a "strange" case.

**Environment overview (please complete the following information)**

 - Enviro

[2022-06-08 20:47] MaximumEntropy commented on #4336
Like @itzsimpl said, sentence tokenization (with `nltk.sent_tokenize()`, SpaCy's or Stanza's sentence tokenizer, or something similar) is probably your best bet if your very long input can be split into many sentences. If you have one sentence that cannot be split into meaningful chunks then it gets tricky and I don't have a good suggestion for you.

One experimental thing to try is to use a slidi

[2022-06-08 22:21] gowtham1997 commented on #4332
I haven't looked at the exportable format in detail.
For now, I've got it working with a hacky script: https://pastebin.com/hVRtDW66
^ 1.  I've added the rnnt decoding to the forward so that i can trace the module instead of rnnt encoder and predictor-joiner separately (the decoder had multiple functions for decoding and it was causing a lot of errors).
2. Since the torchscript trace required the

[2022-06-08 22:32] aklife97 commented on #4339
Hi @evros-chris,

We use kind of a trick to support an effectively empty array with second last dim as 0. Trying to pass a contiguous version of this array usually causes issues.
As a workaround to this, can you try using `ortvalue` and see if it resolves the issue? More details on it can be found here: https://onnxruntime.ai/docs/api/python/api_summary.html. Using ortvalue, you would not need to

[2022-06-08 22:33] titu1994 commented on #4332
Quick note - for RNNT your only need the run 1,time encoder and T times decoder + joint. So such fused export is highly wasteful since it will call encoder each time.

[2022-06-08 22:35] titu1994 commented on #4332
You're also ending up tracing the actual hypothesis decoding loop - I would avoid that and just export the modules properly and then write an external (potentially numpy/C++) code that does the hypothesis decoding dynamically - as seen in the onnx export code

[2022-06-09 05:40] gowtham1997 commented on #4332
Thanks for the prompt suggestions.
Will fix them

[2022-06-09 15:29] psydok commented on #4351
Thank you very much for your answer! I put 5 temporary masks and analyzed the dataset - there were defects.
Now I put it on the correct dataset and only on my own data. Total 4k records, with a batch size of 3. Doesn't allow GPU anymore...
I also set trainer's val_check_interval to 0.25.

Interestingly, according to the validation, WER still converges faster. But the losses are slowly converging a

[2022-06-09 18:58] riqiang-dp opened #4358 "Tarred datasets for ASR results in ultra-slow training"
### Discussed in https://github.com/NVIDIA/NeMo/discussions/4217

**Original post:**
<div type='discussions-op-text'>

<sup>Originally posted by **riqiang-dp** May 20, 2022</sup>
I'm trying to train ASR models on a pretty unbalanced data set (lengthwise, a lot short utterances but also long utterances (up to 1 min)). I have been able to train with smaller batch size and also with some pre-segmenta

[2022-06-09 19:04] titu1994 commented on #4358
I'd prefer not to have duplicate issues and discussions. Closing this and continue in the discussion.

[2022-06-09 19:04] #4358 closed

[2022-06-09 19:30] VahidooX commented on #4351
We sometimes observe that validation loss goes up to some extent after many epochs while WERs are the same or even getting better, but those cases were not as bad as yours. We have tested batch sizes of 256 and it works with the default learning policy but it should also work with batch size 128. Some suggestions:

++ For your final run, make save_top_k to 10 to use checkpoint averaging. It always

[2022-06-10 05:07] VahidooX commented on #4083
Hope it helps:

it depends on the size of the dataset and the system or cluster you use for training. Some systems/clusters can handle large number of files while others would get overwhelmed by the number of file accesses and IO. Start with non-tarred one and train it on a small dataset like the dev set to get the time per step. Then try the real train data. If you see significant slow down on th

[2022-06-10 05:10] VahidooX commented on #4083
I see that @titu1994 has already provided some great guidelines here: https://github.com/NVIDIA/NeMo/discussions/4326

[2022-06-11 23:35] piraka9011 opened #4359 "Restore from W&B artifact"
**Is your feature request related to a problem? Please describe.**

I was wondering if it's possible to add first class support for W&B artifacts to the `modelPT.restore_from()` method?
Currently, I run something like the following if I want to download a NeMo model saved on W&B:

[code]

and `download_model_from_wandb` would look something like

[code]

Maybe we could use some logic similar to th

[2022-06-11 23:57] titu1994 commented on #4359
Restore from is unrelated to the how you download a Nemo file, - that's why from pretrained is just a wrapper over restore_from() to download a file and just call restore from()

We can look into supporting this inside from_pretrained but from a practical implementation point can we be guaranteed that wandb:// is always the start of the URL pointing to the artifact? Otherwise it conflicts with how

[2022-06-12 17:29] piraka9011 commented on #4359
I see. And no we can't guarantee `wandb://` will always be the start of the URL.
If `from_pretrained` grabs models from NGC, why not make a `from_wandb` method to be more explicit about the intent, or add the functionality to the same method itself (maybe [here](https://github.com/NVIDIA/NeMo/blob/31c821d86513b7ea599bb1803da75c779408e09e/nemo/core/classes/common.py#L717-L726)?
The former approach

[2022-06-12 17:38] titu1994 commented on #4359
We want a standard API - from_pretrained to deal with network, and it's only responsibility is downloading a Nemo file. Then it forwards to restore_from().

So we won't have seperate methods that deal with wandb vs other storage schemes. Unlike HF and NGC where names are all that are required (for hf- username/model_name), wandb does not provide a standardized way to refer to models, and it is inh

[2022-06-12 18:03] piraka9011 commented on #4359
Makes sense, will keep this functionality outside of NeMo then.
Thanks for the insight!

[2022-06-12 18:03] #4359 closed

[2022-06-12 20:00] DillFrescott opened #4360 "Question about a feature"
Hello! Sorry if this isn't a good place for this question, But can I perform a voice swap using NeMo? Instead of text to speech, it would mimic a reference speaker...

[2022-06-13 05:18] sinpy1117 opened #4361 "ITN doesn't work for a specific expression about time like 'ten to eleven'"
**Is your feature request related to a problem? Please describe.**

I am trying to convert normalized asr model outputs into written form using _**inverse_normalizer.inverse_normalize**_.
Whereas some intractable problems arose when dealing a specific expression about time like **"* to *"**.

When I convert this verbal form **"ten to eleven"**.
The ouput is **"ten to eleven"**  which is inconsiste

[2022-06-13 11:19] demsarjure opened #4362 "wav2vec ASR"
**Describe the bug**

I have been trying to get wav2vec ASR training up and running. I am mainly trying to use the model defined in

[code]

I also tried to get a model with wav2vec_pretrain.yaml running, but I get the same error as outlined below.

The call I use is:

[code]

The error is get is:

[code]

It seems like something is wrong with `emd_dim`. I leave this at its default in the `embeddi

[2022-06-13 20:06] nithinraok commented on #4234
Thanks for sharing the results, they look great.

[2022-06-13 20:06] #4234 closed

[2022-06-14 05:52] psydok commented on #4351
Thanks for your reply!
I had another question, I trained the model at the current settings, with a maximum record length of 55 seconds, then I tried to reduce the maximum record duration in the config - the learning rate became incredibly low. From 2 hours - 150+ hours per epoch. Also if I change `trainer.val_check_interval` to 1.
Tell me, please, what is the reason for this?

[2022-06-14 06:08] ekmb commented on #4361
Yes, you would need to add new rules. I added a rule to cover the example above in the linked PR. For more details on how to  customize the rules, see [tutorials/text_processing/WFST_Tutorial.ipynb](https://github.com/NVIDIA/NeMo/blob/main/tutorials/text_processing/WFST_Tutorial.ipynb)

[2022-06-14 06:08] #4361 closed

[2022-06-14 11:13] demsarjure commented on #4362
Hi!

It gets farther now, but still crashes. Now, I am getting a PyTorch error because of an inplace operation:

[code]
See [output_20220614-1106.txt](https://github.com/NVIDIA/NeMo/files/8899194/output_20220614-1106.txt) for the full log. I already tried updating PyTorch to 22.04, I am now using The official 22.04 NeMo container where the NeMo repository in it is updated to the tip of the master

[2022-06-14 14:14] EmreOzkose commented on #4157
It is not about diarization, it is about voice activity detection. I also encountered this issue. Steps:
- Clone latest [NeMo repo](https://github.com/NVIDIA/NeMo/releases/tag/v1.9.0)
- cd NeMo/examples/asr/speech_classification
- create manifest.json ({"audio_filepath": "example.wav", "offset": 0, "label": "infer", "text": "-", "num_speakers": null, "uem_filepath": null})
- run `python vad_infer.

[2022-06-14 15:58] titu1994 commented on #4362
Thanks about the adapter warning, I'll fix that in the next release.

[2022-06-14 17:02] fayejf commented on #4315
Yes seems like python multiprocessing can deadlock in certain environments, and this is an unsolved issue in python now. Thanks for the fix in https://github.com/NVIDIA/NeMo/pull/4317 ! @gkucsko

For anyone who is interested in using multiprocessing in VAD to accelerate the process. I'm with Python 3.7.11 and it works perfectly fine on my end

[2022-06-14 17:02] #4315 closed

[2022-06-14 17:06] fayejf commented on #4157
This is probably due to unsolved python deadlock on multiprocessing in some environments as described in https://github.com/NVIDIA/NeMo/issues/4315. Thanks @gkucsko for providing a fix to disable it in  https://github.com/NVIDIA/NeMo/pull/4317

[2022-06-14 17:33] gkucsko commented on #4315
Great thanks!

[2022-06-14 17:39] evros-chris commented on #4339
Hi @aklife97,

So I have changed the following code:
[code]
to:
[code]

but I face the following error:
[code]

[2022-06-14 19:53] togousch commented on #4157
For now I've solved this problem by deploying this container on the local machine, because I used to run it on a virtual machine (docker container inside vm). This way it doesn't stuck even with thousands of long audios for me.

[2022-06-15 13:04] tserdar opened #4375 "Are there any documentation for applying inverse text normalization in another language?"
I am currently looking for a way to apply a state-of-the-art inverse text normalization method on Danish.

I installed and tested NeMo for English and it works quite well. In the paper it is also mentioned that it is possible to apply the idea to a different language.

But I cannot see any documentation/guide to be able to do so. Could you please help me out?

[2022-06-15 16:16] sqrk commented on #2025
Hello! I understand that we can now change the location of default cache directory where the pre-trained models are downloaded to, is that correct? I can't find how to do that in the documentation, could you help me with that?

[2022-06-15 16:27] ekmb commented on #4375
Documentation and tutorials could be found [here](https://docs.nvidia.com/deeplearning/nemo/user-guide/docs/en/main/nlp/text_normalization/intro.html).

[2022-06-15 17:16] titu1994 commented on #2025
Hmm true it's burrier in documentation. You can use NEMO_CACHE_DIR="SOME PATH" in your environment env (maybe bashrc or similar)

[2022-06-15 17:20] #4353 closed

[2022-06-15 17:21] ekmb commented on #4353
@thebhsu, thanks for reporting this! The fix is merged to `r1.10.0` branch.

[2022-06-15 21:14] bonham79 commented on #4362
@demsarjure Got your error to recreate itself on local. Looking like a container related issue. Would you mind using trying out a clean install on main NeMo branch while I'm hunting down the kink? (Can use a toy dataset for ease. Just need to see if the autograd acts up on current version.)

[2022-06-16 02:36] one1ine commented on #4362
@demsarjure I added the detect_anomaly into my trainer and got a more specific error which I can't figure out how to solve.
                  trainer = pl.Trainer(devices=1, accelerator='gpu', max_epochs=50, logger=logger, detect_anomaly=True )

The specific error im referring to is this
[output.txt](https://github.com/NVIDIA/NeMo/files/8915211/output.txt)

[2022-06-16 05:03] titu1994 commented on #4362
Run it on CPU first should be a much more understandable error.

[2022-06-16 05:04] titu1994 commented on #4362
Also @sam1373 if you are ok with it let's plan to delete the experimental Wav2Vec for the stable one to avoid confusion

[2022-06-16 06:30] demsarjure commented on #4362
@one1ine @bonham79 I reran with the latest version of NeMo, same story. I also added the `detect_anomaly=True` option to the trainer and I get the same error as posted in the output.txt above.

Unfortunately, PyTorch is not my expertise so I cannot really help out here. Maybe something is not correct in the `backward` function in `collections/asr/modules/wav2vec_modules.py`?

[2022-06-16 14:42] bonham79 commented on #4362
@demsarjure Thanks for running the double check. Issue is happening in the transformer block so probably something up with pytorch managing masking between new versions.  If you're in a pinch, dev was done with nemo container 1.5.1. So can use that for your environment and clone the wav2vec relevant code. Obviously not ideal, but can be a stopgap.

@titu1994 Just to check, container 1.5.1 is torch

[2022-06-16 16:50] titu1994 commented on #4362
22.04 is PT 1.11

[2022-06-16 17:53] bonham79 commented on #4362
@demsarjure Thanks for catching the bug. Can copy from: https://github.com/NVIDIA/NeMo/pull/4383 for the fix while waiting on PR integration. (Just a one line edit that can be done with a personal clone of NeMo.)

[2022-06-16 17:57] demsarjure commented on #4362
@bonham79 Thanks for the quick and efficient support!

[2022-06-16 18:25] demsarjure commented on #4362
I can confirm that the fix works, so I will just close the issue.

[2022-06-16 18:25] #4362 closed

[2022-06-16 21:02] tango4j commented on #4157
@togousch Could you clarify two things?
(1) Are you running vad_infer.py on jupyter notebook? or running it on bash?
(2) Could you also check `num_worker` in yaml file setting?  and please check whether num_worker=1 sovles the hanging problem?

[2022-06-17 10:05] robertveenhoven opened #4390 "std::out_of_range error when training TransformerXL model"
**Describe the bug**

When training an TransformerXL model by following the script transformer_lm.py, I get the following error:

![image](https://user-images.githubusercontent.com/10922796/174274040-4e21f930-425f-4ad5-95eb-4f92aa8b913a.png)

For this, I use the same train, eval and test json files as I use for the CTC conformer models which train fine. I use this in combination with a tokenizer t

[2022-06-19 09:15] sqrk opened #4400 "[Question] Loss explodes instantly when fine-tuning Conformer-CTC on custom dataset"
Hello!

I'm new to ASR (AI in general) and I'm struggling to fine-tune the Conformer CTC (small) on the [UASpeech dataset](http://www.isle.illinois.edu/sst/data/UASpeech/).

If I try to fine-tune the model from the NeMo pre-trained checkpoint, the loss starts around 40 and jumps to 4.14e+03 in the next step then some value around e+05 and stays in that range. Val_wer is nearly a constant 100%. It

[2022-06-21 06:40] EvgeniiPustozerov commented on #3952
Hello! I am also getting an error on the mentioned above line of code. It falls even on the provided test samples from "ASR with speaker diarization" tutorial. Here is the traceback:

[code]

[2022-06-21 07:13] evilc3 opened #4404 "Need Help Understanding Preprocessing Step"
Hi are we not using normalising using inferencing ?

        cfg = copy.deepcopy(asr_model.confg)
        OmegaConf.set_struct(cfg.preprocessor, False)
        # some changes for streaming scenario
        cfg.preprocessor.dither = 0.0
        cfg.preprocessor.pad_to = 0
        cfg.preprocessor.normalize = "None"

[2022-06-21 07:58] titu1994 commented on #4404
During streaming, you should normalize by batch statistics, it usually works fine compared to global normalization.

[2022-06-21 08:59] laphang opened #4406 "OSError: libtorch_cuda_cpp.so: cannot open shared object file: No such file or directory"
**Describe the bug**

[code]

**Steps/Code to reproduce bug**

When running this:
from nemo.collections.nlp.models import PunctuationCapitalizationModel

**Expected behavior**

I expect to be able to import and use the PunctuationCapitalizationModel

NB: When I don't install torchaudio, then I'm able to import and use the PunctuationCapitalizationModel normally. But after I install torchaudio, the

[2022-06-21 09:17] manchandasahil opened #4407 "Error while fine tuning speaker recognition model"
**Describe the bug**

Hi, I am trying to follow the steps underlines here: https://github.com/NVIDIA/NeMo/tree/main/examples/speaker_tasks/recognition
but when i launch : python speaker_reco_finetune.py --pretrained_model='/notebooks/data/atc_tenant/asr/smancha5/Nemo_speaker_training/titanet_l/titanet-l.nemo' --finetune_config_file='titanet-large.yaml'

It gives me this error:
[NeMo I 2022-06-21 0

[2022-06-21 09:38] manchandasahil commented on #4407
Follow Up.
When i remove the augmentation option, it gives the following error:
Traceback (most recent call last):
  File "speaker_reco_finetune.py", line 94, in <module>
    main()
  File "speaker_reco_finetune.py", line 84, in main
    speaker_model.setup_optimization(finetune_config.optim)
  File "/opt/conda/lib/python3.8/site-packages/omegaconf/dictconfig.py", line 353, in __getattr__
    self

[2022-06-21 11:33] m-aqeeljanjua opened #4409 "why 44.1khz fastpitch align config is removed in 1.9.0?"
I am working on training the TTS model using Fastpitch architecture using Librivox 44khz dataset.  I was getting issues in the trained model and looking for possible solutions online. but now I saw that in the 1.9.0 release of Nemo, you have removed the 44100 sample rate model configs. Can someone share the reason for that?

[2022-06-21 16:56] titu1994 commented on #4409
Multiple TTS models were deprecated in previous releases, abs finally removed in 1.9. I believe there are better replacements for them which @redoctopus may recommend to you.

[2022-06-21 17:01] titu1994 commented on #4406
Hmm your torchaudio install seems to be problematic, it can't find cuda libraries. I'd suggest looking up how to built torchaudio from source on their repo, or use prebuilt wheels.

Nemo puts it under a try catch, detecting for importerror, but OSError is not something we can bypass and ignore.

[2022-06-21 17:48] #4409 closed

[2022-06-21 18:36] #4360 closed

[2022-06-22 12:56] m-aqeeljanjua opened #4418 "RuntimeError Fastpitch Training: Timed out initializing process group in store based barrier on rank: 0"
I am training a fastpitch model and when I use large data i.e. 21,000 audio files to trainset, I get the following error.
`15247it [58:54,  4.53it/s]Waiting in store based barrier to initialize process group for rank: 0, key: store_based_barrier_key:1 (world_size=7, worker_count=1, timeout=0:30:00)
14572it [58:55,  3.74it/s]Waiting in store based barrier to initialize process group for rank: 0, ke

[2022-06-22 13:44] itzsimpl commented on #4418
With "Timed out intializing process group" errors, their source is traditionally earlier in the log, not at the end of the log.

That being said, could you provide also the nemo version, the environment (barematal or container, in the latter case how you built it), last but not least how you are running the command (e.g. SLURM and its parameters, or other).

This will help in debugging. As it stan

[2022-06-22 16:20] ericharper commented on #4406
It looks like you are not using a container. In this case, please try creating a Conda environment from scratch via the instructions on the README: https://github.com/NVIDIA/NeMo#conda

[2022-06-22 16:25] #4375 closed, assigned to okuchaiev

[2022-06-22 16:47] ericharper commented on #4300
https://github.com/NVIDIA/NeMo/pull/4410

[2022-06-22 16:53] #4226 closed

[2022-06-22 19:45] AllanBragaGit opened #4426 "Scores for transcriptions"
At word level, i can extract the timestamps, how can i also extract a confidence level or a score from this word transcription?

i was following this tutorial: https://github.com/NVIDIA/NeMo/blob/main/tutorials/asr/Offline_ASR.ipynb

[2022-06-22 19:47] aklife97 commented on #4339
Hi @evros-chris,

Thanks for the update on this!

This seems to be weird... Given that the issue occurs during execution and also occurs when the decoder_mems is not "effectively empty", this might be an ORT side issue. We would recommend filing an ORT issue for this.

For the time being, the non-IOBinding route seems to be the working option :/

[2022-06-23 04:02] laphang commented on #4406
Hi guys, thanks for your quick responses.

I ended up being able to remove torchaudio as a requirement, and NEMO works fine in that case.

Closing this as won't fix

[2022-06-23 04:02] #4406 closed

[2022-06-23 04:16] titu1994 commented on #4426
You could compute it yourself, with a somewhat new API that returns word and character timestamps. However scores themselves will require a bit more effort, you'll need to slice off the logprobs and average over the labels per word.

For further information you can take a look at the main branch and use https://github.com/NVIDIA/NeMo/blob/main/nemo/collections/asr/metrics/wer_bpe.py#L27

You can c

[2022-06-23 04:17] titu1994 commented on #4426
This feature is relative new, we'll document it in future releases when it becomes more stable. This can be done for any CTC model, it's not restricted to bpe models.

[2022-06-23 04:49] ikhyun5538 opened #4429 "Request the feature to send metadata in BLS."
**Is your feature request related to a problem? Please describe.**
I want to change the Model according to the BLS input. But BLS requires the same input bach size. So I have to make input like ["model1", "model1"]. If my batch size is 100, should I send 100 same data like ["model1", "model1", "model1"].

**Describe the solution you'd like**
It would be nice to have the feature to send metadata ot

[2022-06-23 05:12] titu1994 commented on #4429
What is BLS? And what are you trying to accomplish ?

[2022-06-23 05:38] #4429 closed

[2022-06-23 05:38] m-aqeeljanjua commented on #4418
I am using Nemo 1.9.0 and running this command to run it `fastpitch_align.py --config-name=fastpitch_align_22050.yaml train_dataset=6670_manifest_other_train.json validation_datasets=6670_manifest_other_dev.json`
I am using default config (examples/tts/conf/fastpitch_align_44100.yaml) for the training.

[2022-06-23 05:45] ikhyun5538 commented on #4429
Oh i'm sorry.
It's Nvidia Triton Issue.

I'm trying to make Korean TTS service using Nemo. It makes a lot of things easier.

thank you.

[2022-06-23 07:11] robertveenhoven commented on #4390
Thanks for the reply! I already trained a TranformerXL rescorer with the YTTM tokenizer. So now I can use that for the ASR rescoring?

[2022-06-23 07:27] titu1994 commented on #4390
Yes you should be able to use that for rescoring by following the instructions on the docs. The Tokenizer isn't shared because we rescore in an offline manner - do beam search of ASR model, store all results to file, load file with all beams, rescore and reorder top candidates with rescorer and then pick the top result for each sample as final prediction

[2022-06-23 07:38] grazder opened #4430 "`StopIteration` Exception in Conformer Encoder because of `next(self.parameters())`"
Hi, I get `StopIteration` exception here:

https://github.com/NVIDIA/NeMo/blob/41f27a5e68934761b05dd373e7b288aa798858e5/nemo/collections/asr/modules/conformer_encoder.py#L231

I call this method from `forward_for_export` here:

https://github.com/NVIDIA/NeMo/blob/41f27a5e68934761b05dd373e7b288aa798858e5/nemo/collections/asr/modules/conformer_encoder.py#L249

I found that `self.parameters()` is zer

[2022-06-23 08:05] robertveenhoven commented on #4390
Perfect, thank you! I'll close the issue for now!

[2022-06-23 08:05] #4390 closed

[2022-06-23 16:47] tango4j commented on #3952
@EvgeniiPustozerov Could you check what is assigned to `start_point` and `end_point`? start_point and end_point should be Python float. `start_point` and `end_point` should be coming from word-timestamps which are floating point numbers.

[2022-06-23 17:54] ericharper commented on #4430
@grazder could you give an example script of what you're trying to do? Also, we typically use DDP for multi-gpu.

[2022-06-23 17:57] ericharper commented on #4418
@m-aqeeljanjua , I think you've only pasted a warning message. Can you check the logs more for an error?

[2022-06-23 18:02] ericharper commented on #3934
@redoctopus could you answer this one?

[2022-06-23 20:39] titu1994 commented on #4321
It should be added in the next to next release (1.11) but you can try it out in main branch after this pr is merged - https://github.com/NVIDIA/NeMo/pull/4416

Note that the scheduler is very unique, and highly depends on the total number of steps and global batch size and number of samples. You may need to tune these when using less than recommended global batch size

[2022-06-23 20:48] titu1994 commented on #4430
According to pytorch ligntinings design, it is not advised to pass around device parameter. It also invites more errors due to tensors created on device not belonging to correct device of parameters under DDP.

It is to be noted that DDP is the only majorly recommended way to perform distributed computing in pytorch, and Nemo ASR does not support DP at all (most of our classes are unpickleable)

[2022-06-24 01:36] ikhyun5538 commented on #4429
@okuchaiev [okuchaiev](https://github.com/okuchaiev)Thanks for the interest and information. It has been very helpful!!

[2022-06-24 03:32] grazder commented on #4430
Here is repro script:

[code]

Output Exception:
[code]

`torch.__version__` - `1.10.1`

[2022-06-24 04:12] evilc3 opened #4439 "MultiChannel Support"
Does Nemo support multi-channel?,  So far I have only seen single-channel inputs.

If not which is the best way I can go about adding support for it.

Any reason why Is not supported?

Thanks

[2022-06-24 04:13] titu1994 commented on #4439
Our current models don't support multichannel input. We'll be expanding our codebase to accommodate some useful multichannel models in the near future though.

[2022-06-24 04:14] evilc3 commented on #4439
Ok thanks

[2022-06-24 04:15] evilc3 commented on #4439
How does one add support for multi-channel do we need to do it at training stage itself? Is there any quick implementation available

[2022-06-24 04:22] titu1994 commented on #4439
No there isn't something available at the moment. We assume input is always monochannel, and passing a multichannel audio file will crash right now

[2022-06-24 05:47] m-aqeeljanjua commented on #4418
@ericharper that's all I have actually. It only happens when I use large-size data, if the training examples are less than 10k then the same model and parameters work fine.

[2022-06-24 06:52] #4439 closed

[2022-06-25 10:00] itzsimpl commented on #4418
@m-aqeeljanjua notice the line
```Initializing distributed: GLOBAL_RANK: 2, MEMBER: 3/6```
the last number `/6` indicates that when doing the ddp initialisation, it wa assumed you have a `WOLRD_SIZE=6`, so based on your previous log and responses, something seems off. The best way for helping you debug would be for you to attach the entire log file.

[2022-06-26 08:54] itzsimpl opened #4451 "[NMT] Unable to run `megatron_nmt_training.py`"
**Describe the bug**

Trying to run `megatron_nmt_training.py`, with `conf/aayn_base_megatron.yml` initialization crashes with the following trace:
[code]

@MaximumEntropy Tracking down the source, the offending line seems to be https://github.com/NVIDIA/NeMo/blob/09be885e3f96ccded893dabe5985ffa22736f111/nemo/collections/nlp/data/machine_translation/preproc_mt_data.py#L172

as the `encoder` proper

[2022-06-26 10:48] itzsimpl commented on #4451
By changing the previously mentioned lines to sth. like:
[code]
the preprocessing step works fine, but then training crashes with the following trace:
[code]

I was unable to track down the source of it.

[2022-06-26 16:28] itzsimpl commented on #4300
Based on @PeganovAnton suggestion, I'm copying from https://github.com/NVIDIA/NeMo/pull/4410#discussion_r904058505, just to have as a future reference, especially since supposedly "multiprocessing in P&C is prone to hangups".

Reviewing the current code, I don't see any real issues, however, the `global_rank` and `world_size` will need to be retrieved from environment variables, as `torch.distribu

[2022-06-27 05:55] m-aqeeljanjua commented on #4418
@itzsimpl, the Following is the initial log which I reproduced on the same data.
`
Initializing distributed: GLOBAL_RANK: 0, MEMBER: 1/6
Created a temporary directory at /tmp/tmpohorrog_
Writing /tmp/tmpohorrog_/_remote_module_non_sriptable.py
4it [00:01,  3.70it/s]Created a temporary directory at /tmp/tmpc47z869b
Writing /tmp/tmpc47z869b/_remote_module_non_sriptable.py
8it [00:02,  3.53it/s]Creat

[2022-06-27 06:22] SonuKumari1690 opened #4452 "RuntimeError: expected scalar type Half but found Float"
I have trained nemo 1.8.2 model, earlier I have used nemo 1.4.0 and used below command to classify the texts

model.classifytext(queries=config.model.infer_samples, batch_size=8, max_seq_length=511)

This time when calling the above command with nemo 1.8.2 I am facing issue as **RuntimeError: expected scalar type Half but found Float**.

Below is the entire log trace:
RuntimeError

[2022-06-27 11:09] FatimaArshad-DS opened #4453 "Unable to import nlp"
I am running this Colab Notebook : https://colab.research.google.com/github/NVIDIA/NeMo/blob/v1.0.2/tutorials/nlp/Entity_Linking_Medical.ipynb#scrollTo=2qLS4_0tyf_A

When I run second cell it gives error on this line
from nemo.collections import nlp as nemo_nlp

And the error is this:
(RuntimeError                              Traceback (most recent call last)
[<ipython-input-18-051dc782fbfe>](htt

[2022-06-27 18:31] ericharper commented on #4452
Could you try setting `trainer.precision=16` ? It looks like the model was trained in fp16 and when restoring it, it is still configured to use fp16.

[2022-06-27 18:33] ericharper commented on #4453
It looks like the link is broken in our documentation. Here is the correct link: https://colab.research.google.com/github/NVIDIA/NeMo/blob/stable/tutorials/nlp/Entity_Linking_Medical.ipynb

I'll fix the link in the documentation.

[2022-06-27 19:06] SonuKumari1690 commented on #4452
Hi @ericharper : Thanks for the response, I tried with that too, but again getting the same response

[2022-06-27 21:26] galv opened #4455 "Tar file datasets don't allow for "/"in key names for ASR training."
**Is your feature request related to a problem? Please describe.**

Tar file datasets have two problems today that I am aware of:

1. The filenames inside tar files are *required* not to have "/" or "." in them. Disallowing "." is fine, given that it has special meaning in webdataset. Disallowing "/" causes some difficulties. First, if your key is larger than 255 elements and you convert "/" to "_

[2022-06-28 00:41] titu1994 commented on #4455
The reasoning for the problem and proposed solution is valid, but the approach is problematic.

Tarred datasets use the flattened path in their dataloaders because the underlying assumption is that irrespective of what is the path of the tarfiles themselves, the contents are flattened and have no hierarchy at all. Your use case breaks that assumption. This assumption is necessary to simplify the d

[2022-06-28 01:22] galv commented on #4455
This is not a particularly easy thing to do while avoiding collisions. Also, the output will have different keys from the input. This makes joining the output against a user's existing database difficult.

Today, simply trying to tar a data directory that is in a base directory that > 255 characters makes training on tar files impossible, according to this: https://github.com/NVIDIA/NeMo/blob/d878

[2022-06-28 01:29] titu1994 commented on #4455
Hmm I think reverting this new change is overall better until a proper solution is in place. The PR has an issue, where it does a pass but still runs the next line of code which is the if check for audio filepath, replace with elif and try again.

For the check inside the script, I meant error out if simply the len of the filepath was > 250 - no global check or deduplication etc. Ie don't let the

[2022-06-28 02:06] stevehuang52 commented on #4455
Yes the current way to resolve relative paths is not optimal, since it assumes that filepaths for tarred datasets are all flattened as something like "_home_steve_datasets_wavs_xxxx.wav", which will cause problems when the filepath for a tarred datasets is a normal path with "/". I thought about adding a bool flag to solve this problem before, but it requires a lot of modifications on many functio

[2022-06-28 05:21] titu1994 commented on #4455
In many datasets, filenames are repeated under different directories. Therefore only the absolute path is globally unique, not just the filename.

[2022-06-28 06:55] SonuKumari1690 commented on #4452
Yes I am using NEMO example script:
https://colab.research.google.com/github/NVIDIA/NeMo/blob/v1.0.2/tutorials/nlp/Text_Classification_Sentiment_Analysis.ipynb
for nemo 1.8.2 and used config.model.language_model.pretrained_model_name = 'biomegatron345m_biovocab_30k_uncased' from the saved checkpoint

The model gave classification report with below command:
eval_config = OmegaConf.create({'file_pat

[2022-06-28 14:15] entn-at commented on #3409
RAD-TTS source code appears to have been published separately: https://github.com/NVIDIA/radtts

[2022-06-28 16:54] galv commented on #4455
@stevehuang52 , with the understanding that you presumably don't want your change reverted, would something like this work for you as a workaround for what you desire?

 `sed "s/${partner_base_path}/${my_base_path}/g"   < partner_manifest.json > my_manifest.json`

I need to take some time to understand this limitation with webdataset:

I wasn't aware of it.

[2022-06-28 17:41] stevehuang52 commented on #4455
Yes it will work, but that's tedious to do every time we move the whole dataset folder. Resolving relative file paths should be  automatically handled by the code itself, in my opinion.

I am fine with reverting the support for relative file paths, if it helps.

To my understanding, simply reverting the feature does not fully solves the problems. The filenames for audios can still be longer than 2

[2022-06-28 17:56] #4453 closed

[2022-06-29 08:02] m-aqeeljanjua commented on #4418
@itzsimpl @ericharper, I have solved this issue by reinstalling it from the source using the following command in a pytorch22.01 container.
`apt-get update && apt-get install -y libsndfile1 ffmpeg
git clone https://github.com/NVIDIA/NeMo
cd NeMo
./reinstall.sh`

[2022-06-29 08:02] #4418 closed

[2022-06-29 08:04] kamrapooja opened #4464 "Memory consumption by Punctuation model"
Hi,
I am using PunctuationCapitalizationModel to add punctuation marks in raw text.
When i load the pretrained model it consumes 1427 mib memory approximately. This memory never gets free. The application that i created is flask application and runs in multithreaded environment. For every new request 1427mib memory gets consumed.
Code Snippet:
model = PunctuationCapitalizationModel.from_pretrained

[2022-06-29 08:07] titu1994 commented on #4464
If you want only cpu inference, you can simply use CUDA_VISIBLE_DEVICE="" before launching python flask app (or set it as an env variable). This will prevent pytorch from detecting cuda.

Simpler way would be to pass device="cpu" in from_pretrained()

[2022-06-29 08:46] titu1994 commented on #4455
@galv in your pr, could you revert the support for relative data path entirely for now? We can come up with better solution in the future.

[2022-06-29 11:10] kamrapooja commented on #4464
model = PunctuationCapitalizationModel.from_pretrained("punctuation_en_bert",  device="cpu")
This statement is giving error "unexpected keyword device".
Please suggest

[2022-06-29 14:16] FatimaArshad-DS opened #4466 "Unable to train Entity Linking"
I am trying to train Entity Linking in NLP.

It runs fine. However, while saving results after Epoch 0 it gives this error
In automatic_optimization, when `training_step` returns a dict, the 'loss' key needs to be present

I checked and training step method does have a dictionary. What could be the reason for this?
Im running training on Google Colab (if that helps )

[2022-06-29 19:55] stevehuang52 commented on #4455
I think the following modification can support `/` in tarred dataset filenames
[code]

[2022-06-29 23:58] ericharper commented on #4466
Have you tried this tutorial? https://colab.research.google.com/github/NVIDIA/NeMo/blob/stable/tutorials/nlp/Entity_Linking_Medical.ipynb

[2022-06-30 10:06] kamrapooja commented on #4464
Please help

[2022-06-30 14:56] FatimaArshad-DS commented on #875
This issue is still persistent. What can be done about it?

[2022-06-30 16:22] jiwonjoung opened #4475 "Has Biomegatron been removed from huggingface.co/models?"
I can't seem to get nemo to recognize biomegatron as a pretrained model in the config file. For example, if I put:
`config.model.language_model.pretrained_model_name = 'biomegatron345m_biovocab_30k_cased'` in my config file, as per (https://github.com/NVIDIA/NeMo/blob/main/tutorials/nlp/Token_Classification-BioMegatron.ipynb). I get this error:
[code]

And upon scrolling through the models on hugg

[2022-06-30 16:46] titu1994 commented on #4464
It's called map_location not device. Please read the docs for correct arguments

[2022-06-30 20:39] FatimaArshad-DS commented on #875
https://github.com/NVIDIA/NeMo/blob/main/tutorials/nlp/Token_Classification-BioMegatron.ipynb

This notebook still can't load BioMegatron. It throws an error.

[2022-07-01 09:22] kamrapooja commented on #4464
After changing it code is working fine for single threaded environment but when sending multiple requests to my flask aplication, it is randomly giving error "**If `use_tarred_dataset` is `False`, then you need to provide `tokens_in_batch` parameter.**"
Please help for the same.

[2022-07-01 09:51] FatimaArshad-DS commented on #4475
Im facing same issue. I am unable to import it. And Im unable to run it using biobert

[2022-07-01 15:25] yzhang123 commented on #875
@okuchaiev could you assign someone?

[2022-07-01 17:43] evilc3 opened #4482 "Problems with phone type audios"
Hi, I hv trained a new conformer model.

For telephone audios this model performs worse than the pretrained model used for fine-tuning it.

For Other audios its ok

Error seen are quite odd instead of insertion or substitution all the errors deletion. It just doesn't transcribe parts of the audio that pretrain model does.

1. Changes made for training my model
     - have changed tokens from 128 t

[2022-07-01 18:10] okuchaiev commented on #4482
I wonder why you changed tokens? I would try not changing the vocabulary.
Also, please share more details on LR, training plots etc.

[2022-07-01 18:10] #4482 closed, assigned to nobody

[2022-07-01 18:11] okuchaiev commented on #4466
@FatimaArshad-DS , please try the tutorial which @ericharper  suggested and re-open if bug persists

[2022-07-01 18:11] #4466 closed

[2022-07-01 18:22] FatimaArshad-DS opened #4485 "How to start training again from last checkpoint"
Hi,

My training got interrupted and Im trying to restart training from last checkpoint. However, training starts from the beginning. How do I make it start from last checkpoint?

[2022-07-01 19:39] titu1994 commented on #4485
If you're using exp manager, it has two flags for resuming training v

Without it, you can try loading your checkpoint using load_from_checkpoinr() and then calling trainer.train() again but we haven't tested that

[2022-07-01 19:46] FatimaArshad-DS commented on #4485
Are you talking about this one? create_checkpoint_callback. It is set to True

[2022-07-01 20:20] itzsimpl commented on #4485
@FatimaArshad-DS see
https://github.com/NVIDIA/NeMo/blob/8a172df69250da231742893387e9a1dd01b16e3d/nemo/utils/exp_manager.py#L197-L200
and
https://github.com/NVIDIA/NeMo/blob/8a172df69250da231742893387e9a1dd01b16e3d/nemo/utils/exp_manager.py#L204-L206

[2022-07-01 20:24] itzsimpl commented on #4485
Note that you will need to fix eithr
https://github.com/NVIDIA/NeMo/blob/8a172df69250da231742893387e9a1dd01b16e3d/nemo/utils/exp_manager.py#L188-L189
or set
https://github.com/NVIDIA/NeMo/blob/8a172df69250da231742893387e9a1dd01b16e3d/nemo/utils/exp_manager.py#L194-L195
to point to your specific run, that you wish to resume.

[2022-07-01 22:29] ericharper commented on #4485
We also some documentation here: https://docs.nvidia.com/deeplearning/nemo/user-guide/docs/en/stable/core/exp_manager.html

[2022-07-01 22:36] ericharper commented on #4475
Can you  try the recent tutorials here: https://colab.research.google.com/github/NVIDIA/NeMo/blob/stable/tutorials/nlp/Token_Classification-BioMegatron.ipynb and here: https://colab.research.google.com/github/NVIDIA/NeMo/blob/stable/tutorials/nlp/Relation_Extraction-BioMegatron.ipynb.

We recently had to update BioMegatron to NeMo Megatron. You can see all available models by:
[code]

[2022-07-01 23:01] ericharper commented on #4475
I'm having trouble reproducing this. I can run the notebook on my workstation. Also, this model is not currently on HuggingFace. It's hosted on NGC:

[code]

What is the full output you get from this cell?
[code]

[2022-07-02 13:25] alamnasim commented on #4407
Hi,

I am facing same issue.

Any update on this.

Please help!

[2022-07-02 23:44] NK990 opened #4491 "Traing to fine tune pre-trained model but getting "...shape torch.Size([69, 512])...""
I'm traing to fine tune pre-trained model, and I'm getting this error:

`RuntimeError: Error(s) in loading state_dict for Tacotron2Model:
	size mismatch for text_embedding.weight: copying a param with shape torch.Size([69, 512]) from checkpoint, the shape in current model is torch.Size([83, 512]).`

I know that is been causet by updating the charter dictionary, is there any way to compute new dict

[2022-07-03 12:44] Project-fil opened #4493 "After training the finished model stt_en_citrinet_1024 on 2 trial sentences, the finished checkpoint gives out one letter."
- yaml used originally for stt_en_citrinet_1024
- for the test and validation set, I used train data
- as a result I get the letter "u" or "k"

[2022-07-03 17:56] titu1994 commented on #4493
Don't have much information to debug this. Can be any number of reasons from insufficient training to incorrect eval.

[2022-07-03 18:00] titu1994 commented on #4455
The PR above fixes the issue regarding / in path, which should hopefully solve the issue of thread. Please try it out and see if it's sufficient. If not, reopen.

For the long file name issue, a simple solution we can do is raise an explicit error if the length of the filename goes above 250 when building tarfiles and request use different directory structure or file name scheme. The other propose

[2022-07-03 18:00] #4455 closed

[2022-07-03 18:00] #4452 closed

[2022-07-03 18:01] titu1994 commented on #4430
Yes, as stated we don't encourage use of DP. Please use DDP.

[2022-07-03 18:01] #4430 closed

[2022-07-03 18:01] #3772 closed

[2022-07-03 18:03] titu1994 commented on #875
This issue is over a year old, please refer to newer issues regarding biomegatron.

[2022-07-03 18:03] #875 closed

[2022-07-03 18:04] #3409 closed

[2022-07-03 18:04] #3509 closed

[2022-07-03 18:04] #3914 closed

[2022-07-03 18:05] titu1994 commented on #3914
Please refer to more recent issues regarding biomegatron

[2022-07-03 18:08] titu1994 commented on #3974
Export.py uses the model.export() underneath the hood, there should be no major difference. We don't support exporting of the Mel spectrogram preprocessor, we may consider it in the long term future.

[2022-07-03 18:08] #3974 closed

[2022-07-03 18:08] #3982 closed

[2022-07-03 18:08] #4142 closed

[2022-07-03 18:09] #4332 closed

[2022-07-04 16:26] 1-800-BAD-CODE opened #4497 "Wav2vec deviations from fairseq implementation"
**Describe the bug**

I recently loaded the weights of a pre-trained "[XLS-R](https://github.com/facebookresearch/fairseq/tree/main/examples/wav2vec/xlsr)" wav2vec SSL model into the NeMo implementation and found a couple subtle deviations from the fairseq implementation that led to a different computational graph with the same state dict.

E.g., in the fairseq feature extractor, layer norm is app

[2022-07-04 17:51] titu1994 commented on #4497
@bonham79 @sam1373 we should be consistent with fairseq. Do we have published Wav2Vec checkpoints ? If not, we can do a breaking change and update this.

[2022-07-05 02:09] icyda17 opened #4498 "Cannot run Fastpitch on CPU"
Hi, I ran the code at tutorials/tts/FastPitch_MixerTTS_Training.ipynb and received the error as following when run python fastpitch.py
![image](https://user-images.githubusercontent.com/73210249/177138773-df77f68c-c910-445e-8ba9-f0bbf08358a1.png)

I change config file to run on CPU
![image](https://user-images.githubusercontent.com/73210249/177235371-3ecf1e17-2963-4e20-b95e-060ad6d60dfb.png)

- OS

[2022-07-05 06:15] icyda17 commented on #4498
change config as following to fix this:
![image](https://user-images.githubusercontent.com/73210249/177261768-9bee8299-90a6-4944-8169-b45be83f0c5f.png)

[2022-07-05 06:15] #4498 closed

[2022-07-05 07:50] kamrapooja commented on #4464
Please help

[2022-07-05 09:06] titu1994 commented on #4464
I'm sorry but flask is not an environment we use our models in, and can offer no specific advise. Please try to resolve it by following pytorch guidelines wrt flask.

[2022-07-05 14:18] tbartley94 commented on #4497
We have no published checkpoints, so can do the breaking change. Reason for it is just trying to stay as close to language of the paper as possible. (There's some small discrepancies between implementation, recommended config from fair, and what the paper details. So some design choices erred on side of the publication.) If the changes assist state_dict loading then shouldn't be an issue.

[2022-07-05 14:46] NK990 commented on #4491
anythig about this? @redoctopus ?

[2022-07-05 18:08] redoctopus commented on #4491
Are you using a different vocabulary than the original checkpoint? We don't currently support a change of vocabulary, so please match the inputs if possible.

[2022-07-06 03:48] FatimaArshad-DS commented on #4466
@ericharper  @okuchaiev  I have tried that tutorial. It's working fine. But when I train it on UMLs it gives this error. I have python 3.9, Ubuntu and installed apex.

[2022-07-06 05:19] FatimaArshad-DS commented on #4466
This error occurs after first epoch

[2022-07-06 06:58] kamrapooja commented on #4464
For which environment it is getting developed.

[2022-07-06 07:07] titu1994 commented on #4464
If you'd like to try inference with Nemo models in a production environment, you should try Nvidia Riva.

[2022-07-06 07:13] kamrapooja commented on #4464
We dont have GPUs. Also we are using Nemo pretrained models only. Will not go for training or fine tuning the models.
But here we are developing the flask application only. So cant we use nemo models in multithreaded envirnoments?
Please suggest.

[2022-07-06 07:54] titu1994 commented on #4464
Nemo models probably won't support threads, but they may support processes on CPU at least. However we have no experience with it, so we can't advise. Please check blogs or other info on how to run flask apps with pytorch modules.

[2022-07-06 07:55] kamrapooja commented on #4464
ok thanks :)

[2022-07-06 16:24] demsarjure opened #4506 "wav2vec CTC val_wer is always 1"
**Describe the bug**

Hi, I am having issues with training wav2vec models. It seems like the model starts training, there are no warnings or errors, everything runs. However, after every epoch val_wer is equal to 1.0. For [wav2vec_pretrain.yaml](https://github.com/NVIDIA/NeMo/blob/main/examples/asr/conf/ssl/wav2vec/wav2vec_pretrain.yaml) I am not sure where to start as there are no tutorials or ex

[2022-07-06 18:15] uralik opened #4507 "duplex_text_normalization_infer.py FST error"
**Describe the bug**

Runtime crashes when running the inference example with T5 pretrained model.

**Steps/Code to reproduce bug**

`python examples/nlp/duplex_text_normalization/duplex_text_normalization_infer.py lang=en mode=tn tagger_pretrained_model=neural_text_normalization_t5 decoder_pretrained_model=neural_text_normalization_t5 inference.from_file=./text_en.txt`

Traceback:
[code]

where

[2022-07-06 21:09] demsarjure commented on #4506
I will increase the `min_duration` and run again. I will let you know how it goes.

In first report at epoch 0 loss was above 800, after 15 epochs (I terminated training then) it dropped to 130. Like I said, val_wer for all epochs was 1.0.

[2022-07-06 21:57] titu1994 commented on #4506
This is CTC finetuning right ? Not SSL. Are you attempting to train a Wav2Vec model from scratch without any SSL pretraining ? Dunno if we ever tried that. Should work, but it's hyper parameters will need to be tuned

[2022-07-06 22:02] tbartley94 commented on #4506
@titu1994 We tried it earlier in the year but didn't get an ngc checkpoint up. It works and gets decent scoring iirc. I'm just trying to dig up the training logs to figure our the high validation WER because I remember it taking a big before it starts generalizing well. Probably something up with how the encoder passes encodings to the decoder.

[2022-07-06 22:40] tbartley94 commented on #4506
@demarjure Just checked the logs back when we were training. It's not uncommon for the Validation WER to stall up at 1 for a good bit. (It took about 10 epochs for a model with 16 node training, for instance). Still doing some upkeep on it so can let you know if there's any issue, but it's not outside of reason for the model to take a good bit until the WER drops. For early training I'd focus on t

[2022-07-06 22:55] demsarjure commented on #4506
Thanks, I will keep the training running a bit longer than.

If I wanted to perform SSL pre-training I need to use [wav2vec_pretrain.yaml](https://github.com/NVIDIA/NeMo/blob/main/examples/asr/conf/ssl/wav2vec/wav2vec_pretrain.yaml) right? Is there an example script for this or if you can point me in the right direction so I can maybe set this up first. Thanks!

[2022-07-06 23:07] tbartley94 commented on #4506
You would use the same setup as any of the other SSL models from NeMo. You'll note in the yaml that the Wav2Vec specific portions are just two modules. So you can mess around with your own yaml file if you want.

For pretraining can use this script: https://github.com/NVIDIA/NeMo/blob/main/examples/asr/speech_pretraining/speech_pre_training.py

And can doublecheck the SSL tutorial if any issues po

[2022-07-07 05:05] nithinraok commented on #4407
Updating finetune method way of handling with PR: https://github.com/NVIDIA/NeMo/pull/4504

Please pull the changes and let me know if you still face the same issues.

[2022-07-07 07:46] AMITKESARI2000 opened #4513 "OSError: libtorch_hip.so: cannot open shared object file in Speaker_Diarization_Inference"
Followed the steps here : https://github.com/NVIDIA/NeMo/blob/main/tutorials/speaker_tasks/Speaker_Diarization_Inference.ipynb
to run in jupyter notebook and just ran the whole notebook as it is. But got the error `OSError: libtorch_hip.so: cannot open shared object file: No such file or directory` when importing `nemo.collections.asr.models`

**Environment details**
![image](https://user-images.g

[2022-07-07 08:02] sarasesar opened #4514 "problem of load ASR lstm trained model"
hello. I have train a "LSTM-Transducer-BPE" model some days ago. and to save the model, I have used checkpoint. for this train, I have used the default config.
after that, when i want to load this model by `EncDecRNNTBPEModel` method,

i got an error and i could not use this model:
[code]
please help me.
thank you.

[2022-07-07 08:16] titu1994 commented on #4514
Could you post the code to load the model (I assume Nemo model)? It seems that the checkpoint has weights for an encoder with hidden dim 2560 but is trying to load into a model with hidden dim 8192. As I recall lstm weights are 4*hidden_dim so seems the new model has a lot larger hidden dim.

Fyi @VahidooX

[2022-07-07 13:01] demsarjure commented on #4506
Thanks for an extensive answer. I think I should be able to get things running now.

[2022-07-07 13:01] #4506 closed

[2022-07-07 17:36] uralik commented on #4507
Thanks for response @ekmb .
As I wrote in my post my pynini version == 2.1.4
Anyway I followed you suggestion and made another clean conda env, this is the list of installed python packages:
[code]

The command still returns same error, here is the full output I get in the terminal:
[code]

So something is not right there for sure. Does it work well on your side?

[2022-07-07 18:00] ekmb commented on #4507
@uralik, I made a few updates with [https://github.com/NVIDIA/NeMo/pull/4517](https://github.com/NVIDIA/NeMo/pull/4517), could you try running from `duplex_merge_fix` branch?

[2022-07-07 18:29] uralik commented on #4507
It works !! =)

thanks for such a quick fix! Since we are on this topic now, may i ask if you ever planned to release the Ru pretrained model as well?

[2022-07-07 19:07] ekmb commented on #4507
I'm glad it worked for you!
No, we don't have immediate plans to release the Ru Duplex checkpoint, but all the training scripts should work with Ru Google data out-of-box. For ITN we also have a new [tagger-based model](https://docs.nvidia.com/deeplearning/nemo/user-guide/docs/en/main/nlp/text_normalization/text_normalization_as_tagging.html), TN variant is WIP.

[2022-07-07 19:07] #4507 closed

[2022-07-07 21:55] itzsimpl opened #4522 "[NLP] punctuation_capitalization resume training fails"
**Describe the bug**

When training PC from scratch, using the example configs, everything works fine, however if I try to resume an interrupted training from the last checkpoint, I get the following log entry
[code]
and all new checkpoints get a `val_loss=0.0000`

**Environment details**

- pytorch:22.04-py3
- nemo:1.8.2 installed with ./reinstall.sh, without numba install

[2022-07-08 08:25] FatimaArshad-DS opened #4526 "Entity Linking gives error while training"
Hi,

I followed this tutorial completely:
https://colab.research.google.com/github/NVIDIA/NeMo/blob/stable/tutorials/nlp/Entity_Linking_Medical.ipynb#scrollTo=gO3t67PnmtL7

Now, I'm following these steps to train model on entire UMLs data:
!conda install python=3.7.13 --y
!pip install Cython
!python -m pip install  'git+https://github.com/NVIDIA/NeMo.git@r1.10.0#egg=nemo_toolkit[all]'
!pip install

[2022-07-08 10:40] amilind commented on #2473
@titu1994 I am also getting the some error while importing ,import nemo.collections.asr as nemo_asr
I clone nemotoolkit from git using this command

!python -m pip install git+https://github.com/NVIDIA/NeMo.git

but then getting this error
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
~\AppDat

[2022-07-08 11:04] MatejUlcar opened #4528 "Megatron: NameError: name 'ensure_divisibility' is not defined"
**Describe the bug**

Trying to run `megatron_gpt_pretraining.py`. During the init, the NameError occurs, Traceback below:

[code]

**Expected behavior**

Manually importing `ensure_divisibility` from apex.transformer.utils works fine. Running the code should properly import it as well.

**Environment overview (please complete the following information)**

singularity image, based on nvcr.io/nvidi

[2022-07-08 12:57] PeganovAnton commented on #4522
Installed `nemo` as you described and could not reproduce the bug. Could you please describe exact setting?

[2022-07-08 20:58] titu1994 commented on #2473
That type of install does not install anything other than the base essentials of pytorch. To install Nemo properly, you need the core + collections. See the Nemo documentation installation section, or the readme on GitHub to do a full install of Nemo

[2022-07-09 06:16] sarasesar commented on #4514
[code]

[2022-07-09 11:14] sarasesar commented on #4514
I tried to load model by `nemo.collections.asr.EncDecRNNTBPEModel.restore_from()` method. and also I tried to load the model by using several versions of Nemo such as 1.7.2, 1.8.2, and 1.9.0. But I could not load model.

I have train the model by this config :
[code]
How can I fix it?
thank you.

[2022-07-09 19:51] titu1994 commented on #4514
Config seems fine but this isn't the decoder config, can you post the full config ? And if possible the code/script being used to load the model.

[2022-07-09 20:56] AMITKESARI2000 opened #4533 "Train Speaker Diarization model"
Hello,
Can you guide me how to train and fine tune the Speaker Diarization model taught in https://github.com/NVIDIA/NeMo/blob/main/tutorials/speaker_tasks/Speaker_Diarization_Inference.ipynb. I was unable to find any documentation on this
Thanks

[2022-07-10 09:16] ddebnath228 opened #4535 "Speaker Diarization with Marblenet and ClusterDiarizer issue"
**Describe the bug**
I am not getting correct time stamps for speech segment and many speech chunks are removed. I am using pretrained Marblenet and speakerdiarization_speakernet models. It removes lots of speech data in between the chunks as below:

['0.0 0.23 speaker_1', '1.55 1.99 speaker_2', '3.18 4.25 speaker_2', '5.77 11.35 speaker_1',

**Steps/Code to reproduce bug**

from nemo.collections.

[2022-07-10 09:23] ddebnath228 commented on #4535
[diarizationExample.zip](https://github.com/NVIDIA/NeMo/files/9078792/diarizationExample.zip)
Uploaded the Wav file too

[2022-07-11 02:48] XiaoqingNLP opened #4537 "the NMT infer OOM"
**Is your feature request related to a problem? Please describe.**

1. Inference does not support automatic batch processing according to length, which leads to the OOM of excessively long sentences and makes it difficult to enlarge the beam.
2. And I found that as the inference goes on, the occupation of CUDA memory is gradually increasing.

A clear and concise description of what the problem is.

[2022-07-11 11:49] sarasesar commented on #4514
thank you. sure, of course.
decoder config was:
[code]
and my code for load the model is:
[code]

[2022-07-11 12:33] PeganovAnton commented on #4522
@itzsimpl

[2022-07-11 15:03] itzsimpl commented on #4522
@PeganovAnton I apologise for taking so long, I was trying to debug. I haven't found the root cause, but by changing to pytorch:22.06-py3 and nemo:1.10.0, I don't see the issue anymore. I'll just continue with nemo:1.10.0. I did a couple of minor modifications to the model codebase (support for Uppercase, Lowercase and Capitalised), but these should not have any influence. Especially since I porte

[2022-07-11 15:17] itzsimpl commented on #4522
FWW. I was running the following command:
[code]

[2022-07-11 17:29] titu1994 commented on #4514
Ok, somehow your config did not update properly and so restore is failing. Your rnn_hidden_size: 2048 shoud be 640, not 2048. (640*4 = 2560 params for the 4 gates of the Lstm cell).

You can follow the steps here - https://docs.nvidia.com/deeplearning/nemo/user-guide/docs/en/main/core/core.html#restore-with-modified-config to change the value inside of your trained models config to 640, and then y

[2022-07-11 18:59] nithinraok commented on #4535
VAD and Speaker Embedding extractor model are outdated.
Please use [vad_telephony_marblenet](https://catalog.ngc.nvidia.com/orgs/nvidia/teams/nemo/models/vad_telephony_marblenet) for VAD and [titanet_large](https://catalog.ngc.nvidia.com/orgs/nvidia/teams/nemo/models/titanet_large) for Speaker Embedding extractor

[2022-07-11 19:19] jiwonjoung commented on #4475
So actually, I'm trying to implement medical entity linking with the biomegatron model. I can run the token classification with biomegatron just fine. However, when I run the entity linking tutorial after adding `config.model.language_model.pretrained_model_name = 'biomegatron345m_biovocab_30k_cased'

then i get the error

[2022-07-12 08:35] prviin commented on #841
pip install llvmlite --ignore-installed

[2022-07-12 11:05] ValeryNikiforov commented on #4533
Hello,
If you want to train speaker embedding model (not VAD), this guide will be helpful: https://github.com/NVIDIA/NeMo/blob/main/tutorials/speaker_tasks/Speaker_Identification_Verification.ipynb
Note the "Speaker Verification" part, it's important to change loss

[2022-07-12 12:37] sarasesar commented on #4514
oh, thank you. it loaded and worked.

but i used your repository config:
`https://github.com/NVIDIA/NeMo/blob/main/examples/asr/conf/lstm/lstm_transducer_bpe.yaml `
and if you check it, the rnn_hidden_size has been set to 2048.
so please update the config of LSTM model.

[2022-07-12 14:49] itzsimpl commented on #4522
I'm really puzzled; if I set `trainer.val_check_interval` to e.g. 0.25 or anything less than 1.0 (as set in config yaml), I see the `Validation Dataloader` start and finish, and a valid checkpoint will be saved.

If, however, I set it to 1.0, the `Validation Dataloader` will not start, the `val_loss` UserWarning will appear, and the checkpoint will be saved with `val_loss=0.0000`.

My changes to t

[2022-07-12 15:05] itzsimpl commented on #4522
I've just noticed another strange behaviour, with `trainer.val_check_interval=0.25` the Epoch progress in the logs does not reach 100%; as if the last validation check is still not run, i.e. I see the first 3 validations of size 3125 (starting at 15%, at 39% and at 64%) in the logs, but not the last one.

[code]

[2022-07-12 16:05] itzsimpl opened #4541 "Tensorboard step on resume training restarts from 0"
**Describe the bug**

I have noticed that in previous nemo versions, e.g. 83444044327d8f0b697bbf0729bd96b7e16e3a56, Tensorboard showed consecutive steps when training was continued from the last checkpoint of an interrupted run; recent versions e.g. 77be76349901d0dd99ad6778509ef5c0663a65c3, as well as 1.10.0 do not; they always start from 0. Is this by intention or bug?

with 83444044327d8f0b697bb

[2022-07-12 16:08] titu1994 commented on #4514
@VahidooX can you change this line to read from the model_defaults (https://github.com/NVIDIA/NeMo/blob/main/examples/asr/conf/lstm/lstm_transducer_bpe.yaml#L117).

@sarasesar did you train the model without modification to the config ? I just tried it locally for a few dozen steps and it saves a model with the correct 2048 hidden dimension.

[2022-07-12 16:10] titu1994 commented on #4541
Wandb has changed it's logging, and it's somewhat broken right now such that it constantly resets to 0 when restoring (but internal PT value is correct global step similar to earlier plots). We're looking into soft patching this in Nemo until PTL / WandB fixes it.

Fyi @MaximumEntropy

[2022-07-12 22:56] gradient-ascent-ai-lab opened #4542 "Fine-tuning Voice Activity Detection (VAD) models"
**Is your feature request related to a problem? Please describe.**

After running diarization baselines, I wanted to fine-tune the component models (VAD + embedding) on my own labeled diarization dataset. For the embedding model this has gone well, and for VAD I have been able to set up training using Google Speech Recognition V2 dataset, as in the examples.

Now that I try to create/adapt the Nem

[2022-07-12 23:19] MaximumEntropy commented on #4541
Hey! We just spoke to the PTL team earlier today and they mentioned that they had merged a fix to their main branch recently and should be part of their next release. If you have some time to test this, let us know how it goes!

[2022-07-13 05:05] sarasesar commented on #4514
I didn't modify config file. and I checked  1.10.0 tag of your repository and it was the same as the main branch and then, I used it.

[2022-07-13 05:07] titu1994 commented on #4514
Hmm that's a problem. We'll look into what's going on.

[2022-07-13 05:56] sarasesar commented on #4514
yes, thank you very much.

[2022-07-13 10:33] dophist opened #4543 "[text processing] Chinese text normalization PR"
This is a preliminary inquiry if NeMo team is open to accept PR for Chinese text normalization, or you guys have internal development plans for it ?

[SpeechColab](https://github.com/SpeechColab) is assigning 1 intern student to work on Chinese text normalization(based on Pynini), we'd like to contribute this work to NeMo, hopefully in the next couple of weeks.  Basically what we will have is a se

[2022-07-13 15:06] itzsimpl commented on #4522
@PeganovAnton Ok, noted. Thanks for the input.

I started off with normal datasets, and moved to tarred ones based on the discussion in #4410 (https://github.com/NVIDIA/NeMo/pull/4410#discussion_r904108591),  I guess I never bothered to remove the non necessary non tarred parameters.

If I understand correctly, all GPUs will still receive an equal amount of data, but the excess tar files (the port

[2022-07-13 15:42] ekmb commented on #4543
We would appreciate the proposed PR! Looking forward to the contribution!

[2022-07-13 16:31] rohitgr7 commented on #4541
hey @itzsimpl this is the correct version and should work. is it possible for you to share a reproducible script or maybe replicate the issue using [boring model](https://colab.research.google.com/github/Lightning-AI/lightning/blob/master/examples/pl_bug_report/bug_report_model.ipynb)??

thank you

[2022-07-13 17:40] rohitgr7 commented on #4541
qq: while restarting, did you use the checkpoint being saved with >=v1.6.5 or older?

[2022-07-13 22:11] savinay commented on #3434
What is the value of bsize, num_decoder_attention_layers, seqlen, embedding_dim for the first decode iteration?

[2022-07-13 22:38] leoqzm opened #4546 "ImportError: Could not compile megatron dataset C++ helper functions in Synthetic tabular data turorial"
**Describe the bug**
In NeMo/tutorials/nlp/Megatron_Synthetic_Tabular_Data_Generation.ipynb notebook, when I wanted to run it in Google Colab, the ImportError occurs. And I am not sure what package should I install to resolve this error.

**Steps/Code to reproduce bug**

It occurs in this step: ( I got the main branch of the NeMo, and follow the steps in notebook)
[code]

[2022-07-14 02:46] titu1994 commented on #4541
Let's keep this open. Good to know newer PTL checkpoints will have the fix. The negative progressbar I've seen as well in my personal experiments on 1.6.4 PTL so I can verify it's an issue.

[2022-07-14 03:53] dophist commented on #4543
Cool. I'll close this issue when the PR is ready.

[2022-07-14 08:47] rohitgr7 commented on #4541
[a fix](https://github.com/Lightning-AI/lightning/pull/13645) is in progress that will enable you to use old checkpoints and resume the logging step.

Regarding the tqdm issue, can you open an issue on PL and also share a reproducible example?

[2022-07-14 08:56] sujeetboran opened #4548 "Facing Error while Speaker Diarization Inference"
Facing error while running tutorial code for speaker Diarization from NVIDIA tutorial site

after setting up config for ORACLE-VAD DIARIZATION in code when I am trying to compute.
oracle_model.diarize()
it's showing following error:-
RuntimeError: The following operation failed in the TorchScript interpreter.
Traceback of TorchScript (most recent call last):
  File "/usr/local/lib/python3.7/dist-p

[2022-07-14 11:35] togousch commented on #4548
Also have errors with diarization for nvcr.io/nvidia/nemo:22.04 docker image which weren't present for 22.03.

[2022-07-14 16:24] nithinraok commented on #4548
This is an issue with the latest pytroch, 1.12, where they removed support for half on CPUs.

[2022-07-14 16:25] nithinraok commented on #4548
This is fixed in main currently, could you pull changes from main and retry?

[2022-07-14 17:40] ZurabDz opened #4549 "loss equals to nan when I use rir and noise augmentor"
this one was closed but bug is not fixed and I have no idea where should I add a check for nan.

https://github.com/NVIDIA/NeMo/issues/2246

Basically this issue, I am trying to train conformer-char with rir

[2022-07-14 17:56] ZurabDz commented on #4549
[code]

well, now the error seems like this.  Could you please tell me which file should I handle my data? I am new to Nemo ;(

[2022-07-14 17:59] titu1994 commented on #4549
I dunno what your data is, I'd suggest preprocessing all the files to 1' channel 16khz using ffmpeg and then try using small subsets of all your data to try and augment your model. It's probably your data is corrupted or has similar issue as on the previous thread so there's not much I can help with

[2022-07-14 18:02] ZurabDz commented on #4549
ok, so for formatting data I used FFmpeg -ar -ac flags. I double-checked and it's 1 channel 16khz. I don't think data is corrupted(if by corrupted we mean non-audible or something like that). Assuming I have a similar issue as in the previous thread, how should I proceed?

[2022-07-14 18:12] titu1994 commented on #4549
Write a script looping through your files, load it and pass it to the model preprocessors and check if output is nan or not. Or just use a small set of audio files first and check if it causes NAN or not, and keep adding your audio until it no longer crashes due to nabc

[2022-07-14 18:14] ZurabDz commented on #4549
Oh yeah I am a moron sorry, I will do that

[2022-07-14 18:25] titu1994 commented on #4549
No worries hope it works. I'm closing this for now since the resolution is on the data side

[2022-07-14 18:25] #4549 closed

[2022-07-14 18:46] tango4j commented on #4513
@AMITKESARI2000 Can you specify the steps where you get the error in the  [Speaker_Diarization_Inference.ipynb](https://github.com/NVIDIA/NeMo/blob/main/tutorials/speaker_tasks/Speaker_Diarization_Inference.ipynb) notebook?

[2022-07-14 19:29] fayejf commented on #4542
@gradient-ascent-ai-lab  Hi Thanks for you question.

The current VAD model is a segment level (utterance level) model which the input to NN is the fixed length segment. And this does not only allows for a single speech segment per audio file. You can generate speech segments from RTTM files.

We plan to support frame-level VAD and will publish it once we have a decent model.

Thanks for the featu

[2022-07-14 20:01] MaximumEntropy commented on #4541
Thanks for testing this @itzsimpl!

[2022-07-15 07:56] aidosRepoint opened #4552 "FastSpeech2 training example"
Hi all!

I couldn't find any examples of FastSpeech2 training. The only thing that I've found was the data preprocessing [tutorial](https://docs.nvidia.com/deeplearning/nemo/user-guide/docs/en/stable/tts/datasets.html)

Can anyone tell me if there is a py script such as those for tacotron2 and other models? And, is there an example of a config file?

[2022-07-15 10:27] itzsimpl commented on #4522
@PeganovAnton update:
- resuming with 2 GPUs from epoch 55 works, i.e. the Validation check at the end of epoch runs normally
- as soon as I increase the number of GPUs above 2, the Validation check at the end of epoch is simply not run, regardless if I start training from scratch or resume a previous training, and I see the `UserWarning: … could not find the monitored key in the returned metrics`

[2022-07-15 13:21] grzywada opened #4554 "Typo"
In: https://docs.nvidia.com/deeplearning/nemo/user-guide/docs/en/main/nlp/prompt_learning.html

cartographic -> catastrophic

Instead of: "Because the original model parameters are frozen and never altered by either method, p-tuning/prompt-tuning also avoid cartographic forgetting issues often encountered when fine-tuning models."

It should be: "Because the original model parameters are frozen an

[2022-07-15 16:52] gradient-ascent-ai-lab commented on #4542
@fayejf Heya! Thanks for a prompt response, and a clear answer.

Great to hear frame-level VAD is on the roadmap. I don't have a tight deadline for this, so am happy to wait for that.

If you have a helper script for generating segments from RTTM files already I'll happily use that until then, I'll keep an eye out for the PR. Sadly I am a bit too busy at the moment to contribute one, but as a happ

[2022-07-15 20:17] redoctopus commented on #4552
Hi, FastSpeech2 has been deprecated in NeMo, but you can still find a Tacotron2 example in the tutorial here: https://github.com/NVIDIA/NeMo/blob/main/tutorials/tts/Tacotron2_Training.ipynb

The scripts and config files for all the TTS models can be found in this directory (configs under `conf/`): https://github.com/NVIDIA/NeMo/tree/main/examples/tts

[2022-07-15 20:17] #4552 closed

[2022-07-16 03:19] MaximumEntropy commented on #4537
Do you run out of memory even with batch size 1? If not, the easiest fix is to just reduce the batch size. Another thing you can do is to order your test set so that you have the longest sequences first so that if you do run out of memory, it happens right at the start rather than mid-way through translating your test set.

We don't have plans yet for specifying inference batch sizes based on toke

[2022-07-16 03:21] MaximumEntropy commented on #4528
So, the 22.05 container and `r1.10.0` works, but 22.06 and the current main branch does not?

[2022-07-16 03:39] MaximumEntropy commented on #4451
Apologies, I forgot to hit submit on a draft I had earlier.

Sorry, you're seeing this issue because megatron-based NMT is not supported properly with tarred datasets while it is still the default in the yaml config. It only works with`dataset_type=text_memmap` or `dataset_type=bin_memmap`. We will change these defaults and remove tarred datasets for Megatron NMT in one of the coming releases. For

[2022-07-18 08:20] alamnasim opened #4561 "Getting Key Error while finetuning Speaker Recognition model"
Hi @nithinraok ,

Please have a look into it.

I am trying to finetune speaker recognition model on open source dataset.
When I set train_manifest_path and dev_manifest_path both as same either train.json or dev.json. Its working fine for me.
When I set train_manifest and dev_manifest as train.jsom and dev.json (two different file) then I get key error in dev_manifest.
I prepared data using data_p

[2022-07-18 14:17] iddqd2d opened #4562 "Getting Key Error 21 while finetuning Citrinet-1024-8x-Stride"
Hi, I try this code:

Help, Please...

[code]

My YAML config:
[https://github.com/iddqd2d/files/blob/main/citrinet_1024.yaml](url)

[code]

[2022-07-18 16:25] nithinraok commented on #4561
Hi @alamnasim ,
we train speaker embedding extractors as speaker identification tasks. In these tasks in order to evaluate your model on the dev set, the dev set needs to have classes that are only part of the train set.
So labels(dev) ⊆ labels(train) but you don't need to have files in dev that are part of the train.

[2022-07-18 16:38] titu1994 commented on #4562
Citrinet is a subword based model, not a character based one. You need to use EncDecCTCBPEModel and pass in a Tokenizer.
We have not added character based configs for Citrinet as it cannot be trained with character encoding for English.

[2022-07-19 04:05] sujeetboran commented on #4548
@nithinraok I am not using any dependency. I am just trying to run tutorial which is  provided by nvidia on https://colab.research.google.com/github/NVIDIA/NeMo/blob/stable/tutorials/speaker_tasks/Speaker_Diarization_Inference.ipynb
Aren't these are updated tutorials??

[2022-07-19 10:16] sujeetboran commented on #4548
@nithinraok there in tutorial you are using BRANCH = 'r1.10.0'. I have tried with the name of new BRANCH = 'r1.11.0' but's its says its not any branch can you go through the tutorial and can tell which branch to use.

[2022-07-19 10:18] sujeetboran commented on #4548
@nithinraok  i just went to the code again and i saw in code you are using BRANCH = 'r1.10.0' which is latest branch itself. Can you check into my mater once again. and help me with this.
Thank you

[2022-07-19 16:32] nithinraok commented on #4548
please try with BRANCH = 'main'

[2022-07-19 18:58] okuchaiev commented on #4012
ping @borisfom

[2022-07-19 23:47] aklife97 commented on #4339
Closing this issue, feel free to open a new one if you face any further issues

[2022-07-19 23:47] #4339 closed

[2022-07-20 09:53] alexandercesarr opened #4569 "Quantize conformer model that is trained before"
Hi, I trained a conformer model before. Now I wanna quantize that model and convert it to TRT. But when I run the **speech_to_text_quant_infer_trt.py** an error occur. The error is:

`TypeError: Error instantiating 'nemo.collections.asr.modules.conformer_encoder.ConformerEncoder' : __init__() got an unexpected keyword argument 'quantize'
`

Could you please help me to solve it?

[2022-07-20 17:27] borisfom commented on #4012
And yes 'tensors on the same device' error was due to pytorch bug (fixed in 22.04).

[2022-07-21 01:51] sujeetboran opened #4572 "Speaker Identification in Speaker dilation"
Hello,
I am using speaker dilation for finding out number of speaker and time when which speaker has spoken. when i am setting up meta data like following where i am providing num_spearker = num_of_speaker then it is working perfectly and showing correct result.
T1 T2 Speaker_1
T3 T4 Speaker_0  #Correct result
meta = {
    'audio_filepath': an4_audio,
    'offset': 0,
    'duration':None,
    'lab

[2022-07-21 03:54] bchinnari opened #4573 "Input features for MarbleNet-VAD"
I am performing VAD using examples/asr/vad_infer.py . I see that, from the code,  MarbleNet directly operates on raw audio data using convolution filters.  There is no separate feature extraction from the audio.

But , when I see the published MarbleNet paper from Nvidia, looks like first MFCC is extracted from audio and then model operates on those MFCCs.

Am I correct with this observation ?

[2022-07-21 08:24] prashantskit opened #4574 "parser not found during inference of Tacotron2 TTS on non-english language"
**Describe the bug**
I am facing potentially the following two issue:
First
I am training a non-english language TTS model using Tacotron2. During inference I try to pre-process the input text using the parse() function but I get the error `AttributeError: 'Tacotron2Model' object has no attribute 'parser'`.

Second
On looking deeper into parser and it's initialisation. The property parser function

[2022-07-21 13:30] itzsimpl opened #4575 "[NLP] [question/bug?] `train_loss` falling, whereas `val_loss`, `punct_f1`, `capit_f1` all increasing"
@PeganovAnton Training on multiple GPUs I'm noticing that `train_loss` is decreasing, and `f1` scores are increasing, but so is `val_loss`. Is `val_loss` the right metric to be monitored? Would mean `f1` score be better suited?

What does `logits_ndim` in https://github.com/NVIDIA/NeMo/blob/fea3775c00adfacfe0a414dea15544abc96db8dc/nemo/collections/nlp/models/token_classification/punctuation_capita

[2022-07-21 13:47] itzsimpl commented on #4451
@MaximumEntropy sorry if this is taking long, I'm waiting for resources to clear, so as to be able to perform a test. I have built bin memmaps, I just need to see if training starts as it should. I'll report as soon as I'll be able to run.

[2022-07-21 16:22] thebhsu opened #4577 "NormalizerWithAudio error for written digits"
**Describe the bug**

See below, the normalization is incorrect for specific regex cases.

**Steps/Code to reproduce bug**

[code]

**Expected behavior**

A clear and concise description of what you expected to happen.

**Environment overview (please complete the following information)**

 - Environment location: [Bare-metal, Docker, Cloud(specify cloud provider - AWS, Azure, GCP, Collab)]
 - Meth

[2022-07-22 07:25] inventionsbyhamid opened #4581 "[Question] Exporting HifiGanModel and Tacotron2Model for TTS on Android"
I am using TTS using the below code. I want to run TTS offline on an Android device as a next step using the same pretrained models.
[code]
I went through the issue [How to use/port quartzNet model on mobile?](https://github.com/NVIDIA/NeMo/issues/1394) which suggests it is possible to export the model.

Pytorch documentation for exporting model to run on android shows below code
[code]

Where I a

[2022-07-22 11:44] iddqd2d commented on #4562
Thanks, I change my code:

[code]
I create tokenaizer with an4("wav" format) data (command):

[code]

I got the filelist :
[code]
in checkpoints:
[code]
I'm trying to recognize the file (code):

restored_model = nemo_asr.models.EncDecCTCModelBPE.load_from_checkpoint(my_path_three)

print(restored_model.transcribe(paths2audio_files=[aud_2]))

[2022-07-22 14:03] GrigorKirakosyan opened #4583 "Loss is getting zero when training Titanet with Adam"
Hi

I am trying to train TitaNet with angular loss. When the optimizer is SGD everything is fine (loss decreases and TopK accuracy  increases). Switching optimizer from SGD to Adam or AdamW results zero loss and zero accuracy after some steps.  Do you have any clue about zero-loss?
Btw, number of speakers in my case is equal to ~25000.

[2022-07-22 15:18] f4hy opened #4584 "Pytorch lightning required but not installed for text_normalization"
**Describe the bug**

Installing `nemo_toolkit[nemo_text_processing]` does not bring in `pytorch_lightning` but then
[code]
errors as pytorch_lightning is required to import

**Steps/Code to reproduce bug**

1. on a fresh venv, install `nemo_toolkit[nemo_text_processing]`
2. run `from nemo_text_processing.text_normalization import normalize`
3. See error

**Expected behavior**

If text processing

[2022-07-22 15:28] JenyaPu commented on #3421
I had the same issue and num_workers=0 worked for me, but when I switched to a nemo VAD model instead of using ASR I got the following traceback with the error:
[code]
On line:
[code]

When I switch to num_workers > 0 I receive the following error:
[code]

The following is the manifest file:
[code]

[2022-07-22 17:29] f4hy opened #4586 "text normalization documentation should mention the 500 word limit"
**Is your feature request related to a problem? Please describe.**

normalize() has a `500` word limit per here: https://github.com/NVIDIA/NeMo/blob/main/nemo_text_processing/text_normalization/normalize.py#L255

This is not documented in the documentation pages as far as I can see.

**Describe the solution you'd like**

Documentation should make this requirement clear up front, so when developing

[2022-07-22 18:36] piraka9011 opened #4587 "RuntimeError for contrastive loss if audio duration is not long enough for num_negatives"
**Describe the bug**

If the duration of an audio file is <8s (unsure exactly, need further testing), then `sample_negatives` will throw the following error:

[code]

If you haven't read the docs or understand the code/loss function, then it might not be clear that you need to adjust the `min_duration` or `num_negatives`

**Steps/Code to reproduce bug**

Run any of the examples in [`speech_pretrai

[2022-07-22 18:54] redoctopus commented on #4574
Can you try updating to the most recent NeMo version and trying again? Tacotron2 now uses the `TTSDataset` rather than the `AudioToCharDataset` as of version 1.9.0, and the parser logic in the model has been updated as well.

[2022-07-22 22:09] titu1994 commented on #4562
Your model has not trained at all - look at the checkpoint directory - it's at 100% wer.

What dataset are you trying to train on and how many hours is it ? Possibly you are using too high LR or other things causing model to completely forget original training.

If the dataset is small (less than a hundred hour) you can try adapters with 1-2 epoch training to avoid forgetting full model training.

[2022-07-22 22:15] titu1994 commented on #4569
That script only supports character based models, specifically models that support quantization nodes in their code such as QuartzNet, Jasper, Citrinet. Conformer does not support this.

[2022-07-22 22:34] nithinraok commented on #3441
Can you provide a notebook to reproduce the error?

[2022-07-22 22:38] nithinraok commented on #4583
Did you change the learning rate? try with 0.001 as the learning rate and wd=0.0002.

[2022-07-22 22:38] nithinraok commented on #4583
Please share your config file if possible.

[2022-07-23 01:16] piraka9011 opened #4589 "Contrastive Loss: Runtime error for certain audio files when reshaping out_masked_only"
**Describe the bug**

After a few steps when pretraining a `SpeechEncDecSelfSupervisedModel`, training fails with the following error

[code]

**Steps/Code to reproduce bug**

I used the [speech_pre_training.py](https://github.com/NVIDIA/NeMo/blob/main/examples/asr/speech_pretraining/speech_pre_training.py) script with the default configuration for the conformer [here](https://github.com/NVIDIA/Ne

[2022-07-23 02:09] piraka9011 commented on #4589
Btw, current workaround is to set `loss_list.contrastive.loss.sample_from_same_utterance_only=False` of course, but ideally this works with it set to true.

[2022-07-23 09:25] GrigorKirakosyan commented on #4583
`name: &name "TitaNet"
sample_rate: &sample_rate 16000

model:
  train_ds:
    manifest_filepath: ???
    sample_rate: 16000
    batch_size: 64
    num_workers: 11
    shuffle: True

  validation_ds:
    manifest_filepath: ???
    sample_rate: 16000
    batch_size: 64
    shuffle: False

  model_defaults:
    filters: 512
    repeat: 3
    dropout: 0.1
    separable: true
    se: true
    se_conte

[2022-07-23 09:27] GrigorKirakosyan commented on #4583
I have used lr = 0.001 without weight decay

[2022-07-23 10:20] alexandercesarr commented on #4569
Thanks @titu1994 for your reply. So if I want to quantize this conformer model, how can I do it?
What is your recommendation for this one?

[2022-07-23 10:30] sarasesar opened #4590 "convert conformer to TRT"
Hi, I trained a conformer CTC BPE model. Now I wanna convert it to TensorRT.
Is it possible or not?
If yes, how can I do it?

[2022-07-23 12:53] prashantskit commented on #4574
I am assuming `pip install nemo-toolkit['all']` command will install latest version of the toolkit.
Secondly, I looked through the TTSDataset class and found some of the parameters that were not present earlier such as "text_tokeniser" it also seems to be equivalent of what parser was doing earlier. How to specify it in yaml config file? specifically for non-English dataset.

[2022-07-23 15:47] piraka9011 opened #4591 "SpeechEncDecSelfSupervisedModel does not support Dali datasets"
**Is your feature request related to a problem? Please describe.**

I noticed `SpeechEncDecSelfSupervisedModel`'s don't check if `use_dali` is set in their `_setup_dataloader_from_config()` method.

Is that intended? I noticed some performance improvements using Dali and the error traces it returns are much more helpful than the typical audio dataset ones.

**Describe the solution you'd like**

Ju

[2022-07-23 19:09] titu1994 commented on #4591
Yes, please open a PR. Mostly it should duplicate the code in the ASR CTC / RNNT classes.

[2022-07-23 19:11] titu1994 commented on #4590
You can follow the export docs to export to onnx, after which it should be straightforward to export that to trt.

Each model has an export() method, or you can use this script https://github.com/NVIDIA/NeMo/blob/main/scripts/export.py

Fyi @borisfom

[2022-07-23 19:13] titu1994 commented on #4569
We don't support it, so there's no recommendations as such. We ourselves have not tried it. @Slyne fyi

[2022-07-23 19:14] #3319 closed

[2022-07-23 19:14] #3598 closed

[2022-07-23 19:15] #3915 closed

[2022-07-23 19:15] #3952 closed

[2022-07-23 19:15] #4012 closed

[2022-07-23 19:15] #4075 closed

[2022-07-23 19:16] titu1994 commented on #4100
@borisfom please review pr

[2022-07-23 19:16] titu1994 commented on #4105
@borisfom please check

[2022-07-23 19:17] titu1994 commented on #4300
Sorry but we can't do busy waiting as your pr requires. It has a measurable impact on all domain training. Please think of another solutions

[2022-07-23 19:18] #4493 closed

[2022-07-23 19:18] #4497 closed

[2022-07-23 19:19] #4160 closed

[2022-07-23 19:20] titu1994 commented on #4514
@VahidooX can you take a look at the LSTM encoder based RNNT code ? The decoder rakes a new arg but checkpoint loading is affected c

[2022-07-23 19:24] titu1994 commented on #4581
Please check the export section in Nemo documentation.

[2022-07-23 19:43] nithinraok commented on #4583
I would start experimenting by increasing batch_size to 128 and lowering lr to 0.0001, since you have only one GPU. Though adamw doesn't show changes with weight_decay, I would still keep it non-zero during debugging process. If possible try using wandb logging and share logs here.

[2022-07-24 12:23] Orelbabayoff opened #4593 "ASR for long audio files (streaming) with Beam Search/LM"
Hi
Following older answers for closed issues: https://github.com/NVIDIA/NeMo/issues/2307 and the tutorial: https://github.com/NVIDIA/NeMo/blob/main/tutorials/asr/Streaming_ASR.ipynb.
Any updates on Nemo supporting LM with long audio (streaming)?

[2022-07-24 13:14] itzsimpl commented on #4300
@titu1994, sorry, but can you be more specific. I mean, do you a) refer to this issue and my last comment regarding distributed cache building, b) PR #4544, which uses busy waiting in `exp_manager.check_resume`, or c) PR #4410 (which, btw., has already been merged into main and does busy waiting instead of torch.distributed.barrier, see https://github.com/NVIDIA/NeMo/blob/6442e339a47d30a106d869d1e

[2022-07-24 18:20] titu1994 commented on #4300
4410 is localized to one model, and it's upto that model owner to choose busy waiting. However, #4544 affects core, effectively all Nemo models, and we will not accept busy waiting there.

[2022-07-24 18:23] titu1994 commented on #4593
Not really. We do plan on doing a high level API for beam search, but it will not be with a LM. There is no plan for such integration in the next few months either since for streaming efficiently and in production environment we have Nvidia Riva for that.

[2022-07-24 18:38] Orelbabayoff commented on #4593
Thank you for the answer.
Do you recommend using SAD/VAD models to slice the long audio and then use ASR with LM and beam search?

Any recommendations for SAD models?

[2022-07-24 18:45] itzsimpl commented on #4300
OK; understood. I may have found a better solution. I'll comment under the appropriate PR.

[2022-07-24 19:15] titu1994 commented on #4593
If you have ground truth labels, then you can use CTC segmentation in Nemo to auto split audio files.

Any production grade VAD model can also do it, though I don't know if open source production grade VAD models, most are research grade. Maybe @fayejf knows

[2022-07-25 08:10] iddqd2d commented on #4562
Training dataset 2 sentences (46 words). It takes 5-10 minutes
LR and other things:
    lr: 0.05
    betas: [0.8, 0.25]
    weight_decay: 0.001
    sched:
      name: CosineAnnealing
      warmup_steps: 5000
      warmup_ratio: null
      min_lr: 1e-5
      last_epoch: -1

My dataset:
https://github.com/iddqd2d/files/blob/main/train-dataset.json

[2022-07-25 08:12] titu1994 commented on #4562
... I'm pretty sure no E2E ASR model will train on that little data. I guess for debugging purposes you can try to overfit to it, but yeah that's just not going to work for anything general.

[2022-07-25 08:16] iddqd2d commented on #4562
What is the minimum amount of data that should be?

[2022-07-25 08:21] titu1994 commented on #4562
These models are trained on roughly 7000 hours of speech ~ 2M audio clips. The modern ASRSet 3 dataset has 24,000 hours of speech at around 6 M files. There are ways to fine-tune models with less data - say 100 or so hours, but with 2 sample files I don't think there is any way

[2022-07-25 08:31] iddqd2d commented on #4562
Thanks for all

[2022-07-25 09:03] aidosRepoint opened #4596 "Does non-English TTS training work properly now?"
Hi all!

I've come across this [issue](https://github.com/NVIDIA/NeMo/issues/234) from 2020, which clearly shows that non-English TTS had some issues at that time. Has the state of things changed since then?

I need to train Tacotron2 for Russian, but I face so many troubles in preprocessing stage. Mainly with text preprocessing. Unfortunately, I couldn't find any decent tutorials on how to train

[2022-07-25 10:06] GrigorKirakosyan commented on #4583
I noticed that weight normalization in decoder doesn't work properly. Can you take a look at this line? It seems that weight normalization doesn't applied properly.
https://github.com/NVIDIA/NeMo/blob/6442e339a47d30a106d869d1ef29cc1294753b75/nemo/collections/asr/modules/conv_asr.py#L874

[2022-07-25 11:15] JenyaPu commented on #3441
Hello! The issue was solved when I updated nemo-toolkit with the following command:
`python -m pip install git+https://github.com/NVIDIA/NeMo.git@main#egg=nemo_toolkit[asr]`
It allowed me to specify num_workers: 0 in the "ClusterDiarizer" manifest to avoid the following error, which occurs when a number of workers exceeds 0:
`_pickle.PicklingError: Can't pickle <class 'nemo.collections.common.part

[2022-07-25 17:39] sam1373 commented on #4587
@piraka9011 I think this would be a useful thing to catch, please make a PR for your suggestion

[2022-07-25 18:23] borisfom commented on #4590
Correct - Conformer export to ONNX is supported by Nemo and its ONNX is runnable by TRT.
Note: TRT may have issues with accuracy of this model if you use --fp16.
The workaround is to use nemo2rtiva tool instead of export.py, with --autocast option, and then use Riva deployment to get TRT engine. Riva has built-in internal workaround for this TRT issue.

[2022-07-25 18:23] #4590 closed

[2022-07-25 19:22] #4562 closed

[2022-07-25 21:11] redoctopus commented on #4596
Our current tokenizers are for English and German characters, so you may need to add a new tokenizer (and possibly G2P) class for training for Russian. @aroraakshit wrote [this tutorial for adding German support to TTS](https://github.com/NVIDIA/NeMo/blob/main/tutorials/tts/Fastpitch_Training_GermanTTS.ipynb) and may be able to answer other questions you might have about adding additional language

[2022-07-25 21:33] redoctopus commented on #4574
Yes, it should install the latest version--currently 1.10--which means that Tacotron2 should no longer depend on the `AudioToCharDataset`.

You may be able to use the `BaseCharsTokenizer` if there is minimal preprocessing needed for your dataset and language, though be wary of the normalizer that you use with it to make sure it's not stripping out characters you need. You can specify it in the con

[2022-07-25 21:33] #4574 closed

[2022-07-25 21:40] sepehr3pehr opened #4601 "Key Error when using conformer-transducer-bpe"
Hi,
I am trying to train a conformer-transducer ASR model with BERT tokenizer. I am using  `conformer_transducer_bpe.yaml` as the base of my config with few changes to set the tokenizer. When running it, I get the following error:
[code]
so I decided to set the decode.num_classes to -1 but then I get this error:
[code]

[2022-07-25 21:47] sepehr3pehr commented on #4601
Sorry, my bad, I was initializing two models, one was not a BPE decoder. You can close/delete the ticket.

[2022-07-25 21:47] #4601 closed

[2022-07-25 23:18] #4591 closed

[2022-07-26 03:19] ekmb commented on #4577
@thebhsu, thanks for reporting this! Should be fixed with [PR 4610](https://github.com/NVIDIA/NeMo/pull/4610).

[2022-07-26 12:33] yidong72 commented on #4546
Could you try it locally in your container instead of Colab? I don't think Colab has enough compute resource to train a GPT.

[2022-07-26 13:01] prashantskit commented on #4574
Thanks a lot @redoctopus . I am able to initiate the training and successfully performed inference on 1 epoch trained model.

There is one more thing I would like to ask. I am training 8000 sampling rate model. Can you suggest what is the parameter values I can choose for the same? Like n_mels, window_size and stride, pad_value etc. Also, if I have to train at a smaller batch (32) would reducing l

[2022-07-26 13:51] #4522 closed

[2022-07-26 17:22] VahidooX commented on #4514
The default config is decoder.prednet.pred_hidden=640 and decoder.prednet.rnn_hidden_size=2048 which means LSTMs are going to have hidden size of 2048 with 640 projections between them to reduce the computation time.
Looks like somehow your decoder.prednet.pred_hidden was set to 640 during the training. I will try to reproduce it.

[2022-07-26 17:29] emerson-h commented on #4526
We also encounter the same bug with the full UMLS dataset.

[2022-07-26 17:36] redoctopus commented on #4574
Good to hear!

You shouldn't need to change `n_mels` or `pad_value`, but `window_size`, `window_stride`, and `n_fft` should be scaled up accordingly. Try `window_size=4096`, `window_stride=1024`, and `n_fft=4096`. The default configs are for batch size 32, so the lr should be fine (though do let us know if you find something that works better!).

[2022-07-26 17:53] prashantskit commented on #4574
Thanks for the quick response.

I noticed that these three parameters were decreasing from 44K to 22K in the conf file in the repo. But I will try with these settings and update here.

[2022-07-26 19:48] yttuncel opened #4617 "Using PyTorch Lightning Quantization Aware Training callback"
Can we use PL's QuantizationAwareTraining and ModelPruning callbacks during NeMo model training?

To quickly test this, I tried to add the QAT callback to the trainer in speech_to_text_ctc.py script to train a quick Quartznet5x5 model:
[code]
and I get the following error:
[code]

Are there any examples that show how we can use the Pruning and QAT tools in pytorch with NeMo?

[2022-07-26 19:49] MaximumEntropy commented on #4541
Closing since this seems to be fixed in PTL 1.6.5, please re-open if you're still seeing this or a separate one of negative step times.

[2022-07-26 19:49] #4541 closed

[2022-07-26 20:51] sepehr3pehr opened #4618 "Cuda Out of memory"
Hi,

I am trying to train a conformer-transducer model on LibriSpeech but I am getting out of memory error. I am using the `conformer_transducer_bpe.yaml` config to initialize a `EncDecRNNTBPEModel` class (also tried the `char` version) with `batch_size=8` on a `NVIDIA K80 GPU` with 12GB of memory and this is the error I am getting:

 `...

  File "/home/ec2-user/anaconda3/envs/nemo/lib/python3.8/

[2022-07-26 23:09] Slyne commented on #4569
Hi @alexandercesarr

First of all, if you want to deploy your models on GPUs. You may keep reading the below text.

There are two types of quantization that Tensorrt can support, explicit vs implicit. Check their difference [here](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#explicit-implicit-quantization).

Where to get start ?
Try Post Training Quantization (PTQ) firs

[2022-07-27 03:03] titu1994 commented on #4618
You might need to use a smaller batch sizes of 4 and use grad accumulation instead. RNNT model takes much more memory than CTC

[2022-07-27 03:05] titu1994 commented on #4617
We do not support PTL QAT, most of Nemo classes cannot be used with pickling

[2022-07-27 03:05] titu1994 commented on #4617
Well, I should more say we don't test for it and it may work but we cannot offer much support for it c

[2022-07-27 07:14] alexandercesarr commented on #4569
Hi @Slyne Thank you very much for your great advice and help. I'll try it.

[2022-07-27 08:52] evilc3 opened #4620 "Extract tokeniser from .nemo file"
Is it possible to extract the sentence_piece tokeniser  (.model, .vocab) file from the .nemo format?

[2022-07-27 08:54] titu1994 commented on #4620
A Nemo file is just a tarfile - you can extract it with tar -xvf as normal.

[2022-07-27 08:58] evilc3 commented on #4620
Oh, thanks man

[2022-07-27 10:35] EvgeniiPustozerov commented on #3952
In my case values assigned to start_point and end_point are Python floats that come from word-timestamps generated with
`diar_hyp, diar_score = asr_diar_offline.run_diarization(config, word_ts_hyp)`

![image](https://user-images.githubusercontent.com/107619405/181226055-e07429aa-262b-47cf-a0ac-7791c22ae243.png)

[2022-07-27 17:49] nithinraok commented on #4572
https://github.com/NVIDIA/NeMo/blob/cbf3f666adca5f09bdd8bc0adfcfc541f406c8ac/examples/speaker_tasks/diarization/conf/offline_diarization.yaml#L41

Did you enable `oracle_num_speakers=True` while evaluating for known speaker condition?

[2022-07-27 17:50] nithinraok commented on #4583
I was training with adam optimizer and loss seems fine to me. how many samples in your dataset?

[2022-07-27 18:07] Slyne commented on #4569
If it's CPU, then you can check [pytorch native quantization pipeline](https://pytorch.org/docs/stable/quantization.html) and [tutorial to get start](https://pytorch.org/blog/introduction-to-quantization-on-pytorch/#the-three-modes-of-quantization-supported-in-pytorch-starting-version-13).

[2022-07-27 20:34] VahidooX commented on #4618
You may reduce the fused_batch_size to reduce the memory consumption.

[2022-07-28 22:52] leoqzm commented on #4546
Thank you Dr. Dong, and I solve this problem by running it on google cloud. However, I am facing a new problem in the inference session.  Could you please response this comment as soon as possible, because we will have a coming up meeting. very appreciate for that.

After I run the
[code]

The server works normal, but when I run
[code]
Which my input is
[code]
, I first face the tokenizer encoder

[2022-07-28 23:10] gwarmstrong opened #4627 "RegexTokenizer: Default token arguments are not mapped to vocabulary index"
The ID's of the default special tokens in RegexTokenizer  are set here:

https://github.com/NVIDIA/NeMo/blob/72d78d832c6332ccc7f44811fb777eb7044df1d8/nemo/collections/common/tokenizers/regex_tokenizer.py#L75-L82

However, the constructor, allows custom special tokens:

https://github.com/NVIDIA/NeMo/blob/72d78d832c6332ccc7f44811fb777eb7044df1d8/nemo/collections/common/tokenizers/regex_tokenizer.py

[2022-07-29 11:56] GrigorKirakosyan commented on #4583
I have 3749074 samples in my dataset. At first I also don't have this problem, but after some steps loss gets zero value. I fixed the line related to weight normalization.
Now it is working properly. Pls review weight normalization part(actually it doesn't change weights).

[2022-07-29 12:48] raikarsagar opened #4629 "Computing word timestamps from start and end offsets of hypotheses object"
Hi,

I am trying to compute word level timestamps with CTCBPEDecoder and able to get the Hypotheses with timestep dictionary. But the dictionary has start_offset and end_offset for each word. I would like to know the offset value and stride multplication factor for computing final timestamp. Formulation for it would be great.
 Here is a sample hypothesis object with timestep dictionary:

`[Hypothe

[2022-07-29 14:12] fahadd01 commented on #4526
Encountered same bug, and the only thing I changed was the batch sizes for training and validation pairs to 16, for them to work with my available RAM

[2022-07-29 17:08] nithinraok commented on #4583
Thanks. Can you send a PR, will review the changes.

[2022-07-29 19:44] sepehr3pehr commented on #4618
Batch of size of 2 does not throw an error. I think I have to stick to that. Thanks.

[2022-07-29 19:56] #4577 closed

[2022-07-29 20:56] gwarmstrong opened #4632 "WordTokenizer `build_vocab` constructs character-based vocab instead of words"
**Describe the bug**

`WordTokenizer` should construct a vocab out of the words in a string, e.g., ['A word here'] -> ['A','word','here']. Instead, in constructs a character-based vocabulary due to its re-use of the `CharTokenizer` code. Additionally, if a properly constructed vocab is attempted to be loaded, it fails due to the error checking that is again inherited from `CharTokenizer`.

**Steps

[2022-07-30 06:35] sarasesar opened #4634 "looking for the VITS model for TTS task"
Hi,
I am trying to train a TTS model. I was looking for the VITS model, but I couldn't find it in your repository. Do you intend to add the VITS model to the collection of TTS models? And if you intend to add this model, when will this process happen?

[2022-07-30 07:22] psydok opened #4635 "Can't redefine method: __filter_banks_getter on class: __torch__.nemo.collections.asr.parts.preprocessing.features.FilterbankFeatures"
**Steps/Code to reproduce bug**

I'm trying to repeat the model deployment [instruction ](https://github.com/pytorch/android-demo-app/blob/master/SpeechRecognition/create_wav2vec2.py) on Android.

[code]
But torch.jit.script returns an error:

Can you advise how to fix this?

[2022-07-30 08:08] alexandercesarr commented on #4569
Thank you @Slyne for your help.

[2022-07-30 09:34] titu1994 commented on #4635
Nemo models are not pickleable so that will not work. If all you need to do is export, then we have model.export(), you can try that. If exports to onnx and somethings can be exported to torchscript too.

[2022-07-30 09:38] titu1994 commented on #4629
Stride multiplication factor is dependent on the model, this code will not give that, you have to hard code it depending on what model you are using for inference. 4 for Conformers and 8 for Citrinets/ContextNet.

Which other offset are you referring to ? The word start and end offsets are provided, multiply them with stride * preprocessor.window_stride to get time stamp beginning and end.

[2022-07-30 09:38] #4569 closed

[2022-07-31 07:25] erichtho commented on #3421
Hi @JenyaPu , I change the code in nemo/collections/common/parts/preprocessing/collections.py, line 208 :
[code]
to:

[code]

and worked for me.
Hope it's helpful.

[2022-08-01 07:55] FatimaArshad-DS commented on #4526
Change method training_step() in entity_linking_model.py. You can either remove if condition which assigns None to train_loss or simply comment it out and assign a very small lr to lr.

[2022-08-01 10:40] psydok commented on #4635
Am I right, are you suggesting to convert the model to onnx using the built in `model.export("model.onnx")` method and then call `torch.jit.script` on the onnx?

[2022-08-01 12:17] ZurabDz opened #4639 "Help with conformer single gpu configuration"
Hello, so I have tried training conformer for a couple of times with different audio augmentations but the results seem the same. On training and test audio model performs well, but on my recording or any other audio which was not in the test/training set model performs horribly. I am using ffprobe for validating the encoding sample rate and a number of channels. all audios have  Audio: pcm_s16le

[2022-08-01 17:10] #4629 closed

[2022-08-01 19:03] gedefet opened #4642 "Mixer-TTS-X Colab Training example"
Hello.

Is any script for training Mixer-TTS-X?

I've used it in the model select inference example, and I really like how it sounds. Better than FastPitch and MixerTTS, in my opinion. Also in the paper shows a higher MOS.

I think it would be extremely useful.

Thanks,

[2022-08-02 12:08] sac-1999 opened #4654 "Sentence Piece tokenizer from script "process_asr_text_tokenizer""
I was finetuning  pretrained citrinet 512 model (Encoder Freeze) for filipino language where i trained a custom tokenizer with vocab size - 1024 and replaced the pretrained citrinet tokenizer section with my custom tokenizer.

`data_dir = "."
!python3 ./scripts/process_asr_text_tokenizer.py
  --manifest="{data_dir}/Filipino/train_manifest.json"
  --data_root="{data_dir}/complete_tg/tokenizers/toke

[2022-08-02 13:33] #4627 closed

[2022-08-02 13:44] itzsimpl commented on #4451
@MaximumEntropy using `nvidia/pytorch:22.07-py3`, `nemo:1.11.rc0` at ce16320c8, running on 1 node with 4x A100 40GB, training fails with the following trace:
[code]

FWW. I'm training with the following command:
[code]

[2022-08-02 14:42] carlosfranzreb opened #4655 "Testing a pre-trained model"
Hello,

I am trying to test a pre-trained conformer transducer, but the reported WER is around 100 %, whereas it is much lower when I use the `transcribe()` method of the model and compute the WER myself. What am I doing wrong?

Script:

[code]

Config file:
[code]

[2022-08-02 15:40] itzsimpl commented on #4654
@sac-1999 the special character indicates a space and is used by SPE to mark/detect word boundaries.

There may have be multiple reasons for you seeing this. Your vocabulary may contain characters that can not be tokenised. The issue may also be related to the type of SentencePiece model and the way Riva's servicemaker script converts the supplied vocabulary to lexicon format, i.e. running the tok

[2022-08-02 16:54] MaximumEntropy commented on #4451
Yeah this should happen for all megatron-based models in the 22.07 container. You need to install apex from the commit specified in our README on top of the 22.07 container.

[2022-08-02 17:45] MaximumEntropy commented on #4451
Specifically,

[code]

[2022-08-02 21:31] catalwaysright opened #4661 "Confidence score for each word in asr model"
Hi! I am trying `nvidia/stt_en_conformer_transducer_xlarge` for my ASR system and the performance is impressive. I noticed that there is an option in transcribe function that can support lm_score in output. I wonder if it is possible to generate confidence score for each word or where should I modify the code so that it can show the confidence score for each word. Thanks in advance,

[2022-08-02 21:50] titu1994 commented on #4661
We have not yet added support for LM or confidence score in asr model using Hypothesis framework yet, they are placeholders for future support.

[2022-08-02 22:04] catalwaysright commented on #4661
Then which part of code should I modify if I want to support this on my own. Could you give me a guide or a direction?

[2022-08-03 00:15] itzsimpl commented on #4451
There's a bug in apex, https://github.com/NVIDIA/apex/blob/3c19f1061879394f28272a99a7ea26d58f72dace/apex/transformer/__init__.py does not import `layers`, hence https://github.com/NVIDIA/NeMo/blob/5c8fe3a443ce4bcde67560393882bc5f2c0601ea/nemo/collections/nlp/modules/common/megatron/fused_layer_norm.py#L18 will fail. I've opened a PR on apex https://github.com/NVIDIA/apex/pull/1442 with a fix.

[2022-08-03 01:50] Hrithik2212 opened #4664 "Import Error"
**Unable to import  ASR model from Nemo.Collections **

**import nemo.collections.asr as nemo_asr**

**Expected behavior**

A clear and concise description of what you expected to happen.

**Environment overview (please complete the following information)**

** Error Message
Error

ModuleNotFoundError Traceback (most recent call last)
in ()
3 # NeMo's ASR collection - this collections contains com

[2022-08-03 03:15] titu1994 commented on #4664
What version of pytorch lightning is installed ? We require a more recent version such as 1.6.5

[2022-08-03 03:17] titu1994 commented on #4661
It's not straightforwardness to setup word confidence, especially for RNNT models. I don't have a particular reference at the moment to compute word confidence. Fyi @GNroy

[2022-08-03 14:33] GNroy commented on #4661
@catalwaysright I'm working on word-level confidence for greedy CTC and RNNT decoding.
Could you please describe your confidence use case?

[2022-08-03 17:14] catalwaysright commented on #4661
Basically I just want the word-level confidence like you are working so that I can highlight those words that are more likely to be wrong if the confidence is below threshold. It would be even better if the model can generate top 3 confident words for that position.

[2022-08-03 17:46] redoctopus commented on #4634
@treacker is currently working on porting VITS!

[2022-08-03 17:46] #4634 closed

[2022-08-03 17:48] redoctopus commented on #4642
Yes, you should be able to use the normal [Mixer-TTS example script](https://github.com/NVIDIA/NeMo/blob/main/examples/tts/mixer_tts.py) but with the Mixer-TTS-X config instead: https://github.com/NVIDIA/NeMo/blob/main/examples/tts/conf/mixer-tts-x.yaml

[2022-08-03 17:48] #4642 closed

[2022-08-04 00:06] catalwaysright commented on #4661
@GNroy How is your implementation right now? Since we can get log prob for CTC, is it possible to get word-level prob though this?

[2022-08-04 15:37] carlosfranzreb commented on #4655
The WER achieved by using the `transcribe()` method is also inferior to the one reported in the [model's card](https://catalog.ngc.nvidia.com/orgs/nvidia/teams/nemo/models/stt_de_conformer_transducer_large). I get an avg. WER of 18 % when evaluating the model on Common Voice 10.

I use this script to transcribe the samples and compute the WER, with the same config file as above.

[code]

[2022-08-04 15:51] titu1994 commented on #4655
You cannot pass sample rate 48000 to the rest dataloader - model was trained with just 16khz and so you need to remove that line, it will figure out how to resample the audio to 16khz.

For the second example, two things. 1) this model was trained on MCV 7, not 10, so it is expected that wer will not match the model card.

2) your method of calculating wer is wrong. WER is a global metric such as

[2022-08-04 18:37] GNroy commented on #4661
@catalwaysright We can certainly use log-probabilities as confidence scores, but this would not be the best approach because the probability distributions of the CTC and RNNT models are biased towards the best hypothesis. In other words, the confidence will be close to one for both correct and incorrect units.
I'm working on an approach that alleviates this issue.

[2022-08-05 06:51] carlosfranzreb commented on #4655
Thank you for your comments, @titu1994.

Changing the sample rate to 16khz does not affect the results. I understand that the model cannot be expected to perform as good for MCV 10 as for MCV 7, but the large difference in WER (over 3x) makes me think there is something wrong with my script.

I have looked at a couple of examples, and they sometimes differ only in their punctuation. Given that the

[2022-08-05 07:46] jjjjohnson commented on #4590
Hi @borisfom
I tried to convert conformer onnx to TRT but without success. Looks like some ops in onnx is not supported by TRT:

[Converter error]: OnnxParser: In node 219 (importSlice): UNSUPPORTED_NODE: Assertion failed: (axes.allValuesKnown()) && "This version of TensorRT does not support dynamic axes.

[2022-08-05 08:32] camillebrl opened #4681 "What & where is the .nemo file?"
Hello!

I would like to run the train_kenlm.py file but I do not understand all the arguments it requires:

I read the documentation (https://docs.nvidia.com/deeplearning/nemo/user-guide/docs/en/main/asr/asr_language_modeling.html and I ran install_beamsearch_decoders.sh as well, so I have the kenlm bin root but I have no idea how to get the root of the .nemo file and what it is about?

Thanks in

[2022-08-05 08:39] titu1994 commented on #4681
In Nemo, all models are saved with extension .nemo - they are tarfiles. Please read the documentation to understand how to save and restore Nemo files (save_to, restore_from, and from_pretrained)

For simplicity you can open a python shell, import nemo.collections.asr as asr, and do model = asr.models.ASRModel.from_pretrained(some ASR model name), followed by model.save_to("xyz.nemo") to get a Nem

[2022-08-05 08:44] titu1994 commented on #4655
We always normalize text before training, so yes it would be best to try to get text as close as possible to normalized text.

We often use trainer.test() and it gives close enough results, so I don't know why in your case it is not working. We'd advise to use the scripts in the repo - speech to text eval and transcribe speech to do inference correctly

[2022-08-05 10:36] carlosfranzreb commented on #4655
Alright. Thank you very much!

[2022-08-05 10:36] #4655 closed

[2022-08-05 15:10] camillebrl commented on #4681
thanks a lot!

[2022-08-05 16:35] #4681 closed

[2022-08-05 18:52] #4407 closed

[2022-08-05 19:25] tango4j commented on #4513
@AMITKESARI2000  Thanks for checking it again. Since we always make sure main or the latest release to run without bug free, we cannot make sure the code is bug-free with the past versions of requirements. Having said that, this error is originating from pytorch version where they recently updated libtorch related libraries. If you happen to see such issues with the old version of NeMo of pytorch,

[2022-08-05 19:25] #4513 closed

[2022-08-05 19:30] tango4j commented on #4535
Seems like this is not a bug/issue in NeMo pipeline (changed to question), in the worst case this could be the limit of model performance.

[2022-08-08 03:07] jjjjohnson commented on #4590
@borisfom @titu1994  BTW:
What does it mean by " ONNX is runnable by TRT." ? Do you mean something like this?
```ort_session = ort.InferenceSession('/content/stt_en_conformer_ctc_small.onnx',providers=['TensorrtExecutionProvider', 'CUDAExecutionProvider', 'CPUExecutionProvider'])```

Thanks for any hints!

[2022-08-08 09:24] lifefeel opened #4695 "nemo2riva: `AttributeError: 'EncDecRNNTBPEModel' object has no attribute 'input_example'`"
**Describe the bug**

I'm trying to convert .nemo to .riva, but I'm getting message `AttributeError: 'EncDecRNNTBPEModel' object has no attribute 'input_example`. Converting the Conformer-CTC model is OK but the Conformer-Transducer model cannot.

run command:
[code]
got following error:
[code]

**Steps/Code to reproduce bug**

1. I trained using the config file from:
   - `https://github.com/NVID

[2022-08-08 11:01] #4620 closed

[2022-08-08 11:14] evilc3 opened #4696 "Adding new tokens to pretrained asr vocab"
Is it possible to add new tokens to the tokeniser of a pretrained model. say I want to fine tune on some new data, which contains few new tokens eg. punct or nums can I add these to the decoder vocabulary?

Here I don't want to change the entire vocabulary so the initial decoder weights will remain the same hence I can reuse them, but for the new tokens the decoder weights can be randomly initiali

[2022-08-08 12:38] evilc3 opened #4697 "Need some info on spanish asr ctc confirmer large model."
Can I get more data on the dataset cleaning process?

I am a non spanish speaker 😅.

Like voxpoplui datasets says 120hrs after cleaning. I downloaded the dataset it has 150 hrs. Need to know which 30 hrs to clean please.

also in model description it says trained the confirmer large ctc  on 7000 hrs of pretrained model. But it points to model trained on 16k hrs.

Thanks for the help

[2022-08-08 15:15] ayush-raj7 opened #4698 "Converting biomegatron to onnx"
**Describe the bug**

Hi,
I am trying to convert Biomegatron Model finetuned for token classification tasks using nemo to onnx format. I am getting the following error:

ARNING: The shape inference of prim::PythonOp type is missing, so it may result in wrong shape inference for the exported graph. Please consider adding it in symbolic function.
WARNING: The shape inference of prim::PythonOp type i

[2022-08-08 20:19] titu1994 commented on #4697
@erastorgueva-nv could you respond with some info here

[2022-08-08 20:21] titu1994 commented on #4696
It is not currently possible to partially update the Tokenizer - Sentencepiece itself does not support it. It does support adding extra tokens when the tokenizer is first built but no modification after that step is possible.

You could add a new Tokenizer with exact same number of tokens as the base model, to load the weights for a good init, but you'll lose the performance of the original model.

[2022-08-08 20:23] titu1994 commented on #4695
@borisfom could you take a look ?

[2022-08-09 03:02] Shaiken opened #4704 "Automatic Speech Recognition (ASR)"
純粹好奇詢問...
為什麼NeMo沒有做繁體中文相關的
還是有我只是沒發現?

[2022-08-09 03:15] #4704 closed

[2022-08-09 03:59] titu1994 commented on #4704
We do have a few models for AISPEECH 2 dataset, however there are not many publically and commercially allowed asian language datasets such for Chinese, Korean, Japanese etc. We're limited to use datasets which have permissive licenses otherwise we cannot share pretrained Checkpoints

[2022-08-09 05:09] Phakkhamat opened #4705 "Train LM with a large file"
I try to train ~5.6G data with ~700M validation

Using this below command:

 python /workspace/data/NeMo/examples/nlp/language_modeling/bert_pretraining.py
        --config-name=/workspace/data/NeMo/examples/nlp/language_modeling/conf/bert_pretraining_from_text_config.yaml
        model.train_ds.data_file="/workspace/data/NeMo/lm/data/public-data/train.txt"
        model.validation_ds.data_file="/

[2022-08-09 05:42] Shaiken commented on #4704
謝謝您的回覆

[2022-08-09 08:48] iddqd2d opened #4706 "Speaker Verification"
Hi!

I trained the model using:
https://github.com/NVIDIA/NeMo/blob/main/tutorials/speaker_tasks/Speaker_Identification_Verification.ipynb

[code]
It works!

I can compare two files. Is there a method to compare all my speakers (many files) with another single file?
Do I need to use a loop or another method?

[2022-08-09 09:46] Penitto opened #4707 "Synthetic tabular data generation non-reproducibility"
**Describe the bug**

Problem with fitting model step-by-step in [this](https://github.com/NVIDIA/NeMo/blob/main/tutorials/nlp/Megatron_Synthetic_Tabular_Data_Generation.ipynb) notebook.

**Steps/Code to reproduce bug**

On step
[code]

I've got such traceback
[code]

All previous cells worked fine.

**Expected behavior**

Model fitting process

**Environment overview (please complete the followin

[2022-08-09 11:28] mesut92 opened #4708 "Mfa aligner does not work on LJSPEECH?"
Hi
I used NeMo/scripts/dataset_processing/ljspeech/README,
and i ran NeMo/scripts/dataset_processing/ljspeech/extract_ljspeech_phonemes_and_durs.sh .
However alignments directory is empty.

My logs;

`Skipping environment setup. Assuming env name aligner exists.
Starting MFA with dictionary at: /home/mesut/Documents/MFA/pretrained_models/dictionary/english_us_arpa.dict
INFO - Setting up corpus inf

[2022-08-09 20:39] vadam5 commented on #4554
Thanks, I fixed the typo in this PR: https://github.com/NVIDIA/NeMo/pull/4566 that has been merged.

[2022-08-09 20:39] #4554 closed

[2022-08-10 07:14] naymaraq commented on #4696
@evilc3 Yes it is possible to add new tokens into sentencepiece tokenizer.
Here is a code.

[code]

[2022-08-10 09:16] titu1994 commented on #4696
Cool hack of the underlying library of Sentencepiece. Guess I can correct my statement to "there is no sanctioned, official way offered by Sentencepiece to add tokens to a prebuilt Tokenizer".

While it is a fun exercise in modifying Sentencepiece please note that Nemo will not support such modifications. You're welcome to write your own wrapping logic though.

[2022-08-10 10:32] #4696 closed

[2022-08-10 10:33] evilc3 commented on #4696
@naymaraq thanks will try it out.

[2022-08-10 11:12] bchinnari commented on #4573
HI, can somebody clarify ?

[2022-08-10 13:48] #4543 closed

[2022-08-10 16:04] yzhang123 commented on #4584
from nemo_text_processing.text_normalization import normalize should not require pytorch lightning. I was not able to reproduce this error.

I ran  python -m pip install git+https://github.com/NVIDIA/NeMo.git@main#egg=nemo_toolkit[nemo_text_processing]
then installed pynini with pip, and then ran from nemo_text_processing.text_normalization import normalize

[2022-08-10 17:28] fayejf commented on #4573
@bchinnari  Sorry I missed the issue and thanks for the question.

No. MarbleNet is using MFCC in vad_infer.py. Pleasev have a look at [model yaml file  ](https://github.com/NVIDIA/NeMo/blob/main/examples/asr/conf/marblenet/marblenet_3x2x64.yaml#L58)

For [vad_multilingual_marblenet]( https://catalog.ngc.nvidia.com/orgs/nvidia/teams/nemo/models/vad_multilingual_marblenet) (the PR for inference pos

[2022-08-10 20:14] yzhang123 commented on #4586
https://github.com/NVIDIA/NeMo/pull/4721

[2022-08-10 20:14] #4586 closed

[2022-08-10 20:19] erastorgueva-nv commented on #4697
Hello, to answer your questions:
### Data preparation:
In general:
* we removed punctuation (replaced with space ” “) as our ASR model cannot predict punctuation.
* Dropped words with too-low and too-high a character rate (which implies the ground truth label is incorrect).
* Removed utterances characters which are not in the Spanish alphabet (ie not in ” abcdefghijklmnopqrstuvwxyzáéíñóúü“).
* Dro

[2022-08-10 20:23] yzhang123 commented on #4586
@f4hy the wfst right now cannot handle longer input, the composition will fail. We would like to keep it simple in the doc for the user and just explain the limit.

The reason we prefer the user to split the sentence is, it is non-trivial and will be a heuristic that makes mistakes. Given a string we can use the wfst graph to detect sentence boundaries, but if its too long we will have the same pr

[2022-08-10 23:18] catalwaysright opened #4722 "About timestep in ASR"
Hi! I noticed that there are start_offset and end_offset provided with the hypothesis for each word. I am wondering if it is possible to know the start and end time in the audio for the word though the start_offset and end_offset. Are these offsets just equal splits of the original audio?

[2022-08-11 03:59] Shaiken opened #4727 "Which NeMo Docker Container is working good"
i use nvcr.io/nvidia/nemo:22.05, and git master

try test .py

test .py code content only

import nemo.collections.asr as nemo_asr

had a error about

[code]
i try install pip install pytorch-lightning==1.2.2

had another error about
[code]

i try install pip install torch-stft

now is work, but I don't know if there will be the next problem

[2022-08-11 07:25] #4707 closed

[2022-08-11 12:52] bchinnari commented on #4573
Thanks for the response. I had that question because of the following reason
I am running VAD on a test file as follows
[code]
[code]
out.wav is 2.9 sec long, I am using 0.3 size window (0.3*16000 =4800 samples), shift of 0.05s (i.e., 20 windows per sec, full audio has 2.9*20 =58 windows ) . When I check the shape of the data in https://github.com/NVIDIA/NeMo/blob/main/nemo/collections/asr/parts/u

[2022-08-11 20:14] fayejf commented on #4573
Hi @bchinnari  You can find the processor [here](https://github.com/NVIDIA/NeMo/blob/main/nemo/collections/asr/models/classification_models.py#L137).

[2022-08-11 23:27] #4727 closed

[2022-08-11 23:27] Shaiken commented on #4727
不急的答案

[2022-08-12 00:20] nithinraok commented on #4706
You can use this function to get batch embeddings https://github.com/NVIDIA/NeMo/blob/4cd9b3449cbfedc671348fbabbe8e3a55fbd659d/nemo/collections/asr/models/label_models.py#L420

Once you get embeddings you can compare those embeddings using cosine similarity score.
For example, you can view this script to see how its done: https://github.com/NVIDIA/NeMo/blob/4cd9b3449cbfedc671348fbabbe8e3a55fbd659d

[2022-08-12 09:24] iddqd2d commented on #4706
Senks. It works!
I have two audio files same speaker. I get embeddings for each audio file. Do I should merge embeddings same speaker? Sorry, for a stupid question.

[2022-08-12 11:21] Project-fil opened #4732 "Model training"
I am training ru model with these inputs data:

My code:

[code]

Train manifest file looks like this:
{"audio_filepath": ""/path/to/wav", "duration": 4.8, "text": "у вас просроченных дней две тысячи сто шестьдесят один дней"}
{"audio_filepath": "/path/to/wav", "duration": 9.1, "text": "выключай выключай давайте следующую свечу других нет сейчас расскажу один анекдот когда"}
Total files: 34786
Dur

[2022-08-12 15:12] titu1994 commented on #4732
Your model has 92.81% wer - QuartzNet15x5_ru--val_wer=**0.9281**-epoch=4-last.ckpt - so it has not learned enough yet.

[2022-08-12 16:19] evilc3 commented on #4697
Hi thanks for the reply.

Will follow the steps

How did u deal with long audios. ?

I hd tried using ctc_segmentation with the latest ctc_confirmer model my goal was to create 20 sec chunks out of large audios. But this didnt help.

So for cleaning

Should I just transcribe using the best model available. And then just remove files > 100 wer ?

Also any reason for removing punctuation?

[2022-08-12 17:12] nithinraok commented on #4706
Depends on your use case.
You could try averaging cosine scores or average embeddings of each utterance per speaker ( if you have many samples per speaker).

There is no constraint on the duration of the file, it can fall in the range of (1 sec, 20 sec] or more than that

[2022-08-12 17:14] nithinraok commented on #4572
closing since no activity.

[2022-08-12 17:14] #4572 closed

[2022-08-15 07:11] Project-fil commented on #4732
Please tell me what is the minimum audio hours and epochs needed to have a good result?

[2022-08-15 07:22] iddqd2d commented on #4706
Another stupid question. Here are the embeddings of the same speaker. How to average or combine them?
Give me an example, please

[code]

For speaker verification, it is better to use embeddings of short or long audio duration  ?

[2022-08-15 14:28] nick9arcia commented on #4271
How could you pass a variable with the path as type str to path2audio_files?

[2022-08-15 14:30] nick9arcia commented on #4732
Many hours. There are many models that are trained with over 5000 hour and still have a high WER. KEEP TRAINING!

[2022-08-16 07:52] Project-fil commented on #4732
If I train the model with the fit() method for n hours and n epochs, and then take a breakpoint and apply fit() with fewer hours and epochs, but with a different dataset, will I retrain or overwrite the model?

[2022-08-16 11:03] evilc3 commented on #4697
point 2 : Dropped words with too-low and too-high a character rate (which implies the ground truth label is incorrect).

why do I drop samples with too-low sampling character rate? how is the the ground truth label incorrect. in this case?

[2022-08-16 20:24] nick9arcia commented on #4732
Retain what you have. You can make a copy of a lower breakpoint and use it to test train the model with a different dataset

[2022-08-17 09:14] Project-fil commented on #4732
Thanks a lot.

[2022-08-17 09:14] #4732 closed

[2022-08-17 11:10] iddqd2d commented on #4706
Hi!
Should I take the average of the first element of the first array and the first element of the second array?

For speaker verification, it is better to use embeddings of short or long audio duration ?

[2022-08-17 13:44] evilc3 opened #4750 "How to calculate models strides per sec"
How to calculate `models_stride_per_sec` for stt_es_conformer_ctc_large. model.   I am trying to transcribe audio of 1 hr using the

stt_en_conformer_ctc_large its 0.04

`from nemo.collections.asr.parts.utils.decoder_timestamps_utils import FrameBatchASR_Logits`

is there a better way to stream log audios on the conformer models.
@titu1994

[2022-08-17 14:21] titu1994 commented on #4750
This is a factor determined by the model. All Conformers have 4x stride, and by default (at least for now) the preprocessor has a window stride of 0.01 seconds. So yes, 0.04 is the correct value.

If you are using for long audio, you can use the buffered inference scripts for CTC and RNNT models provided in the asr_chunked example folder.

[2022-08-17 14:21] titu1994 commented on #4750
When using those scripts use buffer sizes of 25 seconds and chunk sizes of 20 sec for good accuracy vs inference speed tradeoff.

[2022-08-17 14:51] evilc3 commented on #4750
@titu1994  yes it worked thanks a ton. Steps I was using were similar will need to check were I was going wrong.

[2022-08-17 14:54] #4750 closed

[2022-08-17 15:32] nithinraok commented on #4706
For the above example, both are 192-dimensional vectors you can average along this dimension. You would get a 192-dimensional embedding.

There is no constraint on the duration of the file, it can fall in the range of (1 sec, 20 sec] or more than that. On average you can take about 5 sec